[2022-05-24 07:01] TkDodo commented on #3583
we have different types for ts versions < 3.8. please note that with v4, we will require 4.1 or greater:

https://github.com/tannerlinsley/react-query/blob/beta/docs/src/pages/typescript.md

[2022-05-24 07:01] #3583 closed

[2022-05-24 07:12] TkDodo commented on #3639
seems like a bug, feel free to contribute a fix.

Just keep in mind that we can't read synchronously from localStorage because it will be undefined on the server and thus likely yield hydration warnings. However, I think maybe we can, because we've recently disabled server rendering for the devtools anyways - they now render on the client only 🤔

[2022-05-24 07:14] TkDodo commented on #2306
@blazzy this might work for your use-case, but there are many situations where data can still be `undefined` even if you use  `suspense`, so we cannot build anything into the library. One example would just be passing `enabled: false` to `useQuery`.

[2022-05-24 07:18] TkDodo commented on #3642
we've fixed this in v4:

- https://github.com/tannerlinsley/react-query/issues/3202

working codesandbox reproduction:
- https://codesandbox.io/s/peaceful-sunset-3rnqfn?file=/src/index.js

[2022-05-24 07:18] #3642 closed

[2022-05-24 07:35] TkDodo commented on #1927
the onError handlers of the global query cache are _always_ called. To define a default that you can override on each useMutation, use the `mutationDefaults`:

[code]

[2022-05-24 18:35] waynebloss commented on #419
The `usePaginationQuery` no longer exists as far as I can see. Should we `useInfiniteQuery` in v4 to do this?

[2022-05-24 18:37] waynebloss commented on #419
OK, nvm - I see it was also named `usePaginatedQuery` and that's now been deprecated in favor of the `keepPreviousData` option of `useQuery` - https://react-query-beta.tanstack.com/guides/migrating-to-react-query-3#usepaginatedquery-has-been-deprecated-in-favor-of-the-keeppreviousdata-option

[2022-05-25 08:30] tannerlinsley commented on #3067
:tada: This issue has been resolved in version 4.0.0-beta.14 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react-query/v/4.0.0-beta.14)
- [GitHub release](https://github.com/tannerlinsley/react-query/releases/tag/v4.0.0-beta.14)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-25 08:30] tannerlinsley commented on #3538
:tada: This issue has been resolved in version 4.0.0-beta.14 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react-query/v/4.0.0-beta.14)
- [GitHub release](https://github.com/tannerlinsley/react-query/releases/tag/v4.0.0-beta.14)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-25 11:20] milonite commented on #3637
Same issue here

[2022-05-27 13:49] garipov commented on #538
Hey @chin2km. I was thinking what the profit of this `useQueryStream` function is?
Why don't just convert Observable to Promise (using [toPromise](https://rxjs.dev/api/index/class/Observable#toPromise)[^1]) instead, like this:
[code]
[^1]: Currently `toPromise()` method is [deprecated](https://rxjs.dev/deprecations/to-promise). So firstValueFrom or lastValueFrom should be used.

I guess your metho

[2022-05-27 14:14] artem-malko commented on #3485
@joshribakoff-sm looks like I found a way:

[code]

The main idea here is to drop any cache for a query with an error. It is possible to make it optional. So, you can retry via button or via new params in the query. Looks like you try to find)

The biggest problem here is that we will reset cache for all queries, which use this cache. But, may be it is ok, that we reset cache with an error) So, wh

[2022-05-27 18:35] ryb73 commented on #3166
I seem to be running into this problem — did you find a fix? Was it fixed in a more recent version of react-query?

[2022-05-27 20:02] iway1 opened #3650 "toggling enabled with suspense: true uses stale version of queryFn"
### Describe the bug

If you toggle `enabled` from `false` to `true` while having `suspense: true`, query will fetch using the older version of `queryFn`. This is inconsistent with the behavior when `suspense: false` (where it will use the most previously passed version of queryFn). I would imagine we would like useQuery to use the latest `queryFn` at all times?

### Your minimal, reproducible exa

[2022-05-27 20:36] iway1 commented on #3650
Also there's a workaround that's pretty easy in case anyone's curious:
[code]
Then in the query itself make sure to only use the ref instead of an values directly:

[code]

[2022-05-28 01:54] Chris-Kag commented on #3637
Same issue here and I'm using windows

[2022-05-28 13:08] luixo opened #3652 "useMutation context docs & typings mismatch"
### Describe the bug

I found a mismtach of types for `onSuccess`, `onError` and `onSettled` types of `MutationOptions` in typings and docs.
The difference is `TContext` being optional in `onSuccess` in docs and mandatory in typings. It seems like it should be optional in docs as well as `onMutation` may not exist and therefore provide no context.

The ideal change would be to make two separate ty

[2022-05-29 09:44] TkDodo commented on #3166
@ryb73 please provide a new sandbox, the one in this issue doesn't seem to work anymore. `enabled` generally works the same for infinite query and normal queries. They are both based on `useBaseQuery`, and the part that handles `enabled` is the same code for both ....

[2022-05-29 09:47] TkDodo commented on #3650
your issue is that you closure over something (`param`) in the `queryFn` that is _not_ part of the `queryKey`. It is documented that every dependency of your query should be part of the query key to avoid these problems, and also to give you the benefit of caching per params:

- [If your query function depends on a variable, include it in your query key](https://react-query.tanstack.com/guides/que

[2022-05-29 09:47] #3650 closed

[2022-05-29 10:07] TkDodo commented on #3652
I  think you are right. It should also be optional in the types. The error is hidden by the bang operator here:
https://github.com/tannerlinsley/react-query/blob/5848fab8a560efcf66ef0062c207c3004bccad83/src/core/mutation.ts#L181

If you remove that, TS will complain, and we would need to adapt the typings. Would you like to contribute that?

[2022-05-29 12:23] sunilhari commented on #3652
I have made the proposed change via https://github.com/tannerlinsley/react-query/pull/3654
Kindly review and do let me know if any changes are required.

Thanks

[2022-05-29 18:03] #3492 closed

[2022-05-29 18:07] #3652 closed

[2022-05-29 18:20] tannerlinsley commented on #3492
:tada: This issue has been resolved in version 4.0.0-beta.16 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/react-query/v/4.0.0-beta.16)
- [GitHub release](https://github.com/tannerlinsley/react-query/releases/tag/v4.0.0-beta.16)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-29 18:32] TkDodo commented on #3637
@hirbod @sachinraja can you maybe also have a look here?

I'm not sure if we're doing some wrong in our imports / exports, or if this is CRA related? We have some examples that run on CRA 3.x and they are fine 🤔

[2022-05-29 18:34] TkDodo commented on #3637
FYI, If I change this to use the default import, like the error suggests, it doesn't complain anymore, however, it also doesn't work at runtime:

<img width="1053" alt="Screenshot 2022-05-29 at 20 33 05" src="https://user-images.githubusercontent.com/1021430/170886164-188c1c5d-2815-4f81-a2ac-2bcbea215877.png">

This suggests to me that the named re-export is actually correct ?

[2022-05-29 18:36] hirbod commented on #3637
I am afraid that I am not the best person to answer this. All my knowledge goes down to RN

[2022-05-29 18:49] sachinraja commented on #3637
The error is correct. We need to change `useSyncExternalStore.ts` to this:
[code]

[2022-05-29 18:50] hirbod commented on #3637
Ah yeah, I remember seeing this fix in another repo, I think it was reanimated or react-native-gesture-handler.

[2022-05-29 18:56] TkDodo commented on #3637
thx, I'll make a PR. One more question: is the code for `useSyncExternalStore.native.ts` correct?

[code]

[2022-05-29 18:59] sachinraja commented on #3637
The metro bundler only picks the cjs path for this package but yeah it should probably also be changed.

[2022-05-29 19:07] #3637 closed

[2022-05-30 12:11] lgenzelis commented on #3579
I've been thinking of ways to get around this issue. Is there any way to get a callback or a promise that resolves once the query finish fetching? Currently I can tell whether some page of the infinite query is being fetched or not using

[code]

Let's say `infiniteQueryIsFetching` is `true`. Does `queryClient` expose a way to `await` for it to be `false`? (or something equivalent)

[2022-05-30 12:40] sandergo90 commented on #3618
Right! ;) Then we will need to implement this for all required offline calls. Thanks!

[2022-05-30 12:40] #3618 closed

[2022-05-30 15:18] ryb73 commented on #3166
I can't be sure because I was only encountering the issue when in an intermediate development state and am not affected by it anymore, but I think my problem was that I was accidentally calling `fetchNextPage`, which seems to invoke the query even when `enabled` = `false`. So while it kind of doesn't make sense to ignore the `enabled` flag, it also doesn't really seem like a big issue to me, since

[2022-05-30 21:11] KostyaZgara opened #3660 "Refetch first page on success mutation"
### Describe the bug

Hi there. I faced with the issue when trying to refetch first page for the infinite query. Here is my hooks

[code]

[code]

and here is my component where I'm using `useInfiniteQuery`

[code]

### Your minimal, reproducible example

Sorry, I can't provide reproducible example due to using external API

### Steps to reproduce

When I call mutation, refetching queries works in

[2022-06-01 03:58] donysukardi commented on #3579
Actually there's [`promise`](https://github.com/tannerlinsley/react-query/blob/master/src/core/query.ts#L160) inside query that you could await on. Though it's private, but we're talking about JavaScript 🙈

[2022-06-01 11:46] lgenzelis commented on #3579
Thanks @donysukardi ! I'm hoping there's a way to do it with the public API though 🙏

[2022-06-01 12:03] lgenzelis commented on #3579
Thanks @TkDodo , but no, I can't do that :( , because the place where I need to await for the infinite query to finish is not inside a react component. It's a callback for websocket events, which triggers when I get a new item to add to the first page of the infinite query, but I need to make sure not to add it while the query is loading... otherwise it'll get lost as soon as the loading finishes

[2022-06-01 12:16] lucasvieceli commented on #538
example useIfiniteQuery ? plix :)

[2022-06-02 20:40] lgenzelis commented on #3579
I'd like to share my workaround, in case anyone else ever runs into this issue:

[code]

[2022-06-03 13:39] WPaczula commented on #3534
I have a sandbox environment where I don't have any access to the DOM, and react-dom doesn't work. Is there any workaround to use react-query without react-dom?

[2022-06-04 05:54] TkDodo commented on #3660
I've explicitly mentioned in the issue template how to solve this:

I don't have a compiler in my head, so I can't automatically see from a bunch of code what is going wrong. The only thing I do see is that in the queryFn, you are mutating `options` which are also part of the query key, which is never a good idea.

also, you are reversing the data in `select`, which is an observer level property.

[2022-06-04 07:33] TkDodo commented on #3595
Any updates here? Is this still an issue?

[2022-06-04 08:12] KostyaZgara commented on #3660
Wow, incredible. You say you don't have a compiler in the head, but seems you have :) First suggestion is working, the problem was in query key mutation, I didn't expect that.

P.S. Sorry, that I didn't read issue template good. Next time, I will do it. Thanks!

[2022-06-04 08:12] #3660 closed

[2022-06-05 08:30] TheAfroOfDoom commented on #1297
@tannerlinsley can I ask why this issue was closed? I'm using react-query@3.39.0 and I'm getting an error when trying to access the query.data attribute (`TS 2532: Object is possibly undefined`) when in Suspense mode.

The error occurs both when I define `defaultOptions.queries.suspense = true` globally as well as using individual query configuration `{suspense: true}`.

[2022-06-05 09:00] TkDodo commented on #1297
Because suspense alone is no guarantee that data will be defined.

[2022-06-05 14:52] salamaashoush commented on #2994
@TkDodo  @claytron5000  I could work on this if there is one currently working on it

[2022-06-05 14:54] TkDodo commented on #2994
@salamaashoush go ahead, I've assigned you to the issue.

[2022-06-05 15:13] TkDodo commented on #3534
@WPaczula does it not work to call `notifyManager.setBatchNotifyFunction` with a function of your choice? Could also be one that just calls the passed callback.

[2022-06-05 15:15] nirtamir2 commented on #2994
Hi,
I created https://github.com/nirtamir2/react-query-devtools-extension to solve this problem. It works well in development but I have a little problem with its event when building it for production. You can use it and integrate it back to react query

[2022-06-05 16:43] salamaashoush commented on #2994
@nirtamir2  this is a pretty cool browser extension, but I am just adding the ability to reposition the current devtools so you don't need to install a browser extension

[2022-06-06 11:30] loveholly commented on #1927
This works not as expected on my side because both `onError` handlers triggered.

[2022-06-06 11:31] loveholly commented on #1927
This works not as expected on my side because both onError handlers triggered.

[2022-06-06 11:34] loveholly commented on #1927
Thanks for the quick reply. I mean `onError` handler on `defaultMutationOptions` and `onError` handler on `useMutation` both triggered.

[2022-06-06 11:35] TkDodo commented on #1927
and I mean this shouldn't be the case, [as I stated before](https://github.com/tannerlinsley/react-query/issues/1927#issuecomment-1135517016). So if it is the case for you, please show it in a codesandbox reproduction.

[2022-06-06 11:45] loveholly commented on #1927
Hi @TkDodo , here is the example: https://codesandbox.io/s/aged-framework-pwxtu5?file=/src/App.js

[2022-06-06 11:51] loveholly commented on #1927
Sorry, maybe it's my fault. I tested a simple example, and it works as I expected. However, it failed as I expected in my real project. I'll figure it out what's going on. Thanks for your help.

[2022-06-06 12:09] loveholly commented on #1927
Hi @TkDodo , could u please help confirm with this example: https://codesandbox.io/s/aged-framework-pwxtu5?file=/src/App.js:643-748

I'm not sure is this the correct behavior when `onError` passed through `mutate` function won't override the global `onError` handler.

[2022-06-07 05:43] cgat commented on #3182
I'm experiencing something similar in React Native. The major difference in React Native is navigation, where the root of the stack is kept around indefinitely. So in my case, my `useQueryUserAccount` query done is a provider (auth provider) near the root and thus the it doesn't become inactive and thus `removeQueries` has no effect, even in a login screen type scenario. `resetQueries` in the logi

[2022-06-07 06:16] mathias-berg opened #3681 "Data tree won't stay expanded in Data Explorer in devtools"
### Describe the bug

The data tree in devtools won't stay open, it just minimizes almost right away. It seems like it won't remember the open/close state and goes back to the initial one (closed).

This started happen in version `3.34.17` and is still visible in the latest version `3.39.1`.

I will attach two videos of this, one from version `3.34.16` that works as it should and one from `3.39.1`

[2022-06-07 06:29] TkDodo commented on #3681
I just tried it out in our first codesandbox example, and it works just fine?

https://codesandbox.io/s/github/tannerlinsley/react-query/tree/master/examples/simple

can you please provide some way to reproduce the issue other than some videos?

[2022-06-07 07:12] mathias-berg commented on #3681
I did test it in codesandbox also, but could not reproduce it there either.
The change happened between version `3.34.16` and version. `3.34.17` so something has been changed between those versions.
I have a very data intensive app that refetches a lot of data every 5 seconds. It could be related to that, but I will try to create a new Codesandbox that simulates my app to see if this happens.

[2022-06-07 07:38] mathias-berg commented on #3681
I just tried to set `refetchInterval` to a low number in useQuery in that codesandbox that you linked to and I could reproduce it there as well.

[2022-06-07 07:40] TkDodo commented on #3681
@mathias-berg then please add that codesandbox to the issue description

[2022-06-07 07:44] mathias-berg commented on #3681
Fixed!

[2022-06-08 05:30] thkim90 commented on #1629
broken link... please restore

[2022-06-09 14:39] tarikpnr opened #3691 "React Native[Testing]: Queries are stuck in loading"
### Describe the bug

Hey!👋  I wanted to implement offline support to my current react-native app, thus upgraded react-query to `^4.0.0-beta.14`.
However, I've noticed that useQuery hooks are not returning any data when testing, they are stuck in loading state...

When I downgrade the react-query back to `3.39.1` everything works as expected again!

### Your minimal, reproducible example

[reprodu

[2022-06-09 14:44] TkDodo commented on #3691
you need to provide more information please. we have a [react native example in the docs](https://react-query.tanstack.com/examples/react-native) that you can fork for a minimal reproduction, thanks.

[2022-06-09 15:25] salamaashoush commented on #2994
@TkDodo  if you have time could you please have a look at this PR https://github.com/TanStack/query/pull/3678

[2022-06-09 15:32] tarikpnr commented on #3691
Hi there, thanks for the quick response. I created a [minimal repo.](https://snack.expo.dev/@tarikfp/rn-reactqueryv4-testing)

[2022-06-09 19:54] TkDodo commented on #3691
Thanks. I don't really know how to run tests in expo snack 🤔 ? But I have updated my testing-react-query repository to work with v4, and it works fine. Have a look: https://github.com/testing-library/react-hooks-testing-library/issues/849

Note that I also removed `react-hooks-testing-library`, as its going to be deprecated soon:
- https://github.com/testing-library/react-hooks-testing-library/iss

[2022-06-10 08:14] franferns opened #3696 "Request made while the device is offline even though the stale time is set to Infinity"
### Describe the bug

Hi All,

I am working on a react native app which uses the react-query along with AsyncStorage persistance. I use the latest version of **react-query 4.0.0-beta.23**. Below is the code pointing to what I run on my device.

https://codesandbox.io/s/zen-swirles-wgcsjl?file=/package.json:307-320

I have a QueryClient with

[code]

And the code with useQuery is as follows

[code]

[2022-06-10 08:20] TkDodo commented on #3696
`persistQueryClient` returns a `Promise`, but you are not `awaiting` it. That likely leads to race conditions, where react-query is firing off the first request on mount of your app _before_ the peristence plugin has read the valid data from AsyncStorage.

In v4, you can use the `PersistQueryClientProvider` instead of calling `persistQueryClient` manually. This is [documented here](https://tanstac

[2022-06-10 14:25] scottdickerson commented on #2810
this is exactly what we're trying and this is still happening for me as well @vsylvestre , details here: https://github.com/TanStack/query/discussions/3697

I checked the `react-query` versions, they are the same between consumer and provider as well, `peerDependencies` and `devDependencies` on the MFE provider of `react-query: 3.39.1`, and `dependencies` on the consumer side of `react-query: 3.39

[2022-06-10 15:09] TkDodo commented on #2810
you'd need to provide a reproducible example of some sorts please.
also, in v4, there is the option to pass a custom query context for scoped providers. Have a look at the example in the migration guide: https://tanstack.com/query/v4/docs/guides/migrating-to-react-query-4#custom-contexts-for-multiple-providers

[2022-06-10 18:56] tarikpnr commented on #3691
Thanks for replying. I am afraid that [renderHook in RNTL](https://github.com/callstack/react-native-testing-library/issues/990) has not been released yet.

I am guessing/assuming that you did not encounter the error as it was a react project, not a react-native.

On the other hand, I also did try `renderHook` from `@testing-library/react` whereas it requires having installed `react-dom` package.

[2022-06-10 19:10] TkDodo commented on #3691
Can you tell me how i can run the test in expo snack? Then i can play around with it

[2022-06-10 20:32] tarikpnr commented on #3691
Unfortunately, I also do not have also information regarding running tests on expo snack. I have created a minimal react native app for this purpose.

[2022-06-11 16:21] TheAfroOfDoom commented on #1297
I'm aware of instances where the data will be undefined, like having `enabled: false` for manual queries, but I fail to see how Suspense is then ever useful with React Query if it does not take those cases into account.

If the code does not ever specify `enabled: false` for a specific query, shouldn't the type exclude `undefined`?

My questions may be better moved into a discussion post.

[2022-06-12 07:24] TkDodo commented on #1297
there are still edge cases where data can still be undefined, e.g. if `queryClient.cancelQueries` is called while you are fetching data for the first time. It's also very hard to do on type level. There is some motion going on for excluding `undefined` from type if `initialData` is specified here:
- https://github.com/TanStack/query/issues/3310
but it's not an easy thing to do.

For suspense, we'd

[2022-06-12 17:33] zorzysty commented on #3639
I took a look at it and I can confirm that [this effect](https://github.com/TanStack/query/blob/19d755cb875056e34ac09d2a7aedeaf05632ebf3/src/devtools/devtools.tsx#L445-L449) is responsible for causing the problem. Good news is that it's also completely unneeded. It's doubling what's already done [via useLocalStorage](https://github.com/TanStack/query/blob/19d755cb875056e34ac09d2a7aedeaf05632ebf3/s

[2022-06-13 11:20] daniboomerang opened #3705 "Stale refetched queries do not use new authentication headers"
### Describe the bug

I use `graphql-request` along with `react-query`

I have defined my own hook where I create a new graphql client with the latest JWT token
something like this

[code]

I really like the Stale queries refetch defaults, but I have a big issue.
Whenever the refresh token expires and I update my JWT, my app will mostly fail
With high probability a window focus or a new instance o

[2022-06-13 15:08] artem-malko opened #3706 "fetchQuery and useQuery options"
### Describe the bug

Actually, I'm not sure, that it is a bug.

So, if I have a fetchQuery and my own query (which uses useQuery) for the one entity (newsItem in the example), and my own query has specific options (fetchQuery uses default options, own query overrides cacheTime and staleTime). My own query executes on the NewsItem component mount. But, if a data for newsItem is fetched via fetchQu

[2022-06-13 16:34] artem-malko commented on #3706
Yes, it works in case of my own query usage. But, if I click to the "fetch newsitem with id ..." button, and after that show the NewsItem component — staleTime won't be 99999, it will be 0, cause of default options from fetcher.

Yeah, I have same thoughts) But, I described a real case: fetcher uses default options, query uses its own options. It is not expected, that data is refetched, when compo

[2022-06-13 17:20] artem-malko commented on #3706
@TkDodo yeah, you're right, my bad) `staleTime` works like a charm. So, yeah, the main problem here is a `cacheTime`. Moreover, I do not know, if there are problems with other options.

By the way, how do you do such videos?)

[2022-06-13 17:28] TkDodo commented on #3706
I think all observer options should be fine:

https://github.com/TanStack/query/blob/f77f6f4f924d7aa1107cbb9bb2dfd09f81beddd8/src/core/types.ts#L100

and all options on the query cache itself should be affected:

https://github.com/TanStack/query/blob/f77f6f4f924d7aa1107cbb9bb2dfd09f81beddd8/src/core/types.ts#L65-L97

Also, the bug only manifests if you're having a `staleTime` set, because if `sta

[2022-06-13 17:46] artem-malko commented on #3706
There is an exception from this rule — `refetchOnMount: false` in a defaultOptions. As I understand, even staleTime is zero, a query won't be refetched on mount.

[2022-06-14 11:22] drywolf opened #3707 "Error: No QueryClient set, use QueryClientProvider to set one (vite, react-query, pnpm)"
### Describe the bug

I am using [pnpm workspaces](https://pnpm.io/workspaces) to manage my mono-repo.
In the repo I have a vite-app and several other private packages/modules that the app depends on

* all of those are linked in pnpm-workspace.yaml
* react and typescript are used in all packages

When running the vite-app...

* via `pnpm dev` (the hot-reload / watch mode) ... the REST queries per

[2022-06-14 12:08] TkDodo commented on #3707
This usually means that you have somehow pulled in two versions of react-query, or two versions of react. React Query merely creates a new context provider and reads from it. If you have two versions, they will have different contexts, so the read won't work and we'll throw that error.

Make sure your package / module has defined react-query as `peerDependency`. I don't think there's anything we c

[2022-06-14 13:04] drywolf commented on #3707
Thanks for the quick reply.

Is there any way for me to find out if this is the case ?
I only know that in react-devtools I can see which component was rendered by which react-version, but in the case of the above error, no react components are rendered at all, so the react-devtools are also empty.
Same question for react-query, can I somehow debug/test if there are multiple versions being used ?

[2022-06-14 13:16] drywolf commented on #3707
I only find one occurrence of `throw new Error("No QueryClient set, use QueryClientProvider to set one");` in the production bundle.

[2022-06-14 13:45] balteo commented on #1657
Hi @TkDodo

I have implemented a small application that reproduces the issue described in this discussion. Here is the repo: https://github.com/balteo/react-query-issue-reproduction

Just git clone the repos and `yarn install` and `yarn run test`

Please let me know if I can help further.

Kind regards

[2022-06-14 21:40] huyhomie66 commented on #3579
some thing wrong , data update but data props in hook not update

[2022-06-15 14:55] mataslib commented on #1039
anoying

[2022-06-15 18:50] HarryShindika commented on #1322
I placed my values in an array then passed the array to mutate(). This worked

[2022-06-17 13:33] sohamad opened #3718 "Unable to invalidate infinite query data in react native app"
### Describe the bug

I have implemented infinite scroll in react native app using flatlist and infinite query of react query. When i move to different screen, i make changes and invalidate the infinite query. it doesn't work. My dom still renders the same old data. I was checking we can refetch as well tried but it didn't seem to be working as well. Is there a solution for it. Can anyone provide

[2022-06-19 11:06] TkDodo commented on #3705
I remember discussing this somewhere else. Not sure what the conclusion was, likely everything that should trigger a refetch needs to be part of the query key. Also, nothing I can do without a reproduction.

[2022-06-19 11:06] #3705 closed

[2022-06-19 17:47] mansum6 opened #3722 "Expo: Displayed data is stale"
### Describe the bug

Expo, React Native: Data still stale after mutation and query invalidation.

**Situation**: I mutate data displayed on the current screen and then invalidate queries in the 'onSettled' or the 'onSuccess' section. \
**Problem**: Stale data still displayed on the current screen, unless i navigate away from the page and come back.

[code]

### Your minimal, reproducible example

[2022-06-20 04:47] tomasbarton-stemcell opened #3724 "`useIsMutating()` does not rerender components"
### Describe the bug

The `useIsMutating()` hook does not initiate a re-render.

If there is something else that causes the component to rerender, the output of the `useIsMutating()` hook is correct.

This worked before 4-beta (ie worked in 4-alpha and v3) - tested by changing versions in codesandbox.

In the following example the `Mutating` component never renders the `<div>` element with the mut

[2022-06-20 09:20] TkDodo commented on #3724
Thank you for reporting. We're subscribing to the wrong cache - a classic copy / paste error on my part 🙈 .

All our tests perform top-down rendering, so this wasn't caught. I'll re-write one of the tests to make sure this doesn't happen again, and I'll push the fix soon.

[2022-06-20 11:04] michael-wolfenden opened #3726 "Updates to staleTime via setQueryDefaults doesn't appear to take effect"
### Describe the bug

I have a login endpoint that on successful login returns the session expiry time. On successful login, I want to set the `staletime` of the login query to the returned session expiry time as there is no point re-querying the login endpoint while the session is still active.

It appears that once the `staletime` is set initially on mount, calling `setQueryDefaults` with a `sta

[2022-06-20 11:06] TkDodo commented on #3726
That is correct - the defaults are picked up when the query is created. You would need to use local state for that at the moment.

[2022-06-20 18:54] TkDodo commented on #3722
well, without knowing what your backend is doing, it just seems to me that:

[code]

fires off a mutation, but doesn't wait for `deleteCategory` to finish. That indicates that `onSuccess` is called immediately, invalidating the query. That will in turn refetch the query, but the deletion has not yet happened, thus you'll get back the same result from the backend.

Of course, this is just a guess w

[2022-06-21 07:51] ivanjeremic commented on #1905
Is latest react-query now making use of `useSyncExternalStore` internally?

[2022-06-21 07:57] TkDodo commented on #1905
v4 does, yes.

[2022-06-21 08:56] TkDodo commented on #326
then please reproduce it in codesandbox, because it seems like a different problem. `setQueryData` does update the cache, and observers should re-render accordingly.

[2022-06-21 09:08] swport commented on #326
@TkDodo it's actually in the middle of a project. i'll try my best to make a codesandbox, to reproduce this issue, as quickly as i can.

[2022-06-22 04:29] huynqjmango360 opened #3732 "Infinite Queries states are conflict"
### Describe the bug

Im using useInfiniteQuery and noticed the states of isLoading, isFetching, isRefetching, isFetchingNextPage are changing at the same time when calling fetchNextPage or refetch. As follows:
when calling refetch isFetching and isRefetching the same change:
`{isFetching: true
isFetchingNextPage: false
isLoading: false
isRefetching: true}`
When calling fetchNextPage isFetching, i

[2022-06-22 21:11] mlasevich opened #3734 "Change of head branch broke examples at tanstack.com"
### Describe the bug

Example like https://react-query.tanstack.com/examples/simple are unable to load codesandbox because the website expects the branch name to be `master` but it is now `main`

### Your minimal, reproducible example

https://react-query.tanstack.com/examples/simple

### Steps to reproduce

1 Go to https://react-query.tanstack.com/examples/simple
2 Observe Not Found error
3 click

[2022-06-23 13:07] rabengraph opened #3738 "useQuery() does not accept query-options when passed as a variable"
### Describe the bug

Given: Values for `UseQueryOptions` are assigned to a variable. The variable is not explicitly typed.

When passing this variable to `useQuery()` a type error is thrown.

In contrast, when passing the values to `useQuery()` inline, the same values are accepted and `useQuery()` infers the types properly.

### Your minimal, reproducible example

https://www.typescriptlang.org/p

[2022-06-23 13:11] WouterrV opened #3739 "Dependent query not running - codesandbox included!"
### Describe the bug

There's something funky going on with dependent queries (using `enabled: !!someOtherData`), `staleTime`, and `initialData`.

See the example, the user age never displays on the screen. Removing either `staleTime` or `initialData` from the query fixes it.

### Your minimal, reproducible example

https://codesandbox.io/s/reactquery-bug-in-dependent-queries-ivirfd?file=/src/useU

[2022-06-23 13:12] TkDodo commented on #3738
@artysidorenko could you have a look at that maybe?

[2022-06-23 13:30] TkDodo commented on #3739
This is the intended behaviour.

1) `initialData` is written to the cache. It behaves as if this data came from the backend. Maybe you're looking for `placeholderData` instead? Have a look at the differences here: https://tkdodo.eu/blog/placeholder-and-initial-data-in-react-query
2) `staleTime: Infinity` makes sure that if you have data in the cache, that data is served to you, and no background r

[2022-06-23 13:35] WouterrV commented on #3739
Oh, ok, I guess that makes sense. Thanks for the fast response! Would be nice if `initialData` had a jsdoc telling me not to confuse it with `placeholderData`.

[2022-06-23 13:42] TkDodo commented on #3739
yeah, it's in the documentation:

https://react-query.tanstack.com/guides/initial-query-data#staletime-and-initialdataupdatedat

[2022-06-23 16:47] frhack opened #3740 "queryClient.setQueryData mixed signature"
### Describe the bug

queryClient.setQueryData has the following signature

`updater: TData | (oldData: TData | undefined) => TData`

This let very difficult (if not impossible) to use the ReactQuery library from other languages for example from Kotlinjs

Can you please split this method (and methods like this one) in two distinct methods ?

`updater: TData `

`updater: (oldData: TData | undefined

[2022-06-23 20:55] chekrd opened #3741 "Query keys with object property set to undefined are not considered equal to missing property during invalidation"
### Describe the bug

Query keys with object property set to undefined are not considered equal to missing property. Based on the docs, it should be the same: https://react-query.tanstack.com/guides/query-keys#query-keys-are-hashed-deterministically

### Your minimal, reproducible example

https://codesandbox.io/s/react-query-trz8sx?file=/src/App.tsx

### Steps to reproduce

1. Open the codesandbo

[2022-06-24 09:00] markivancho opened #3742 "Some part of the query state is lost during channel broadcast"
### Describe the bug

App uses broadcastQueryClient utility, components that use the same query lose their query state after opening a new window that triggers the same query.

Adding some context to how I use react-query in my daily job. We are using the default `broadcastQueryClient` config to sync data if user decides to open app in new tab. In some cases, we utilize `isFetchedAfterMount` to en

[2022-06-24 09:12] bujardeari commented on #3579
Where do you put this?

[2022-06-24 13:03] TkDodo commented on #3724
I've fixed this here, but It'll take some time until we can merge this due to the re-brand :)

30c0e2ef

[2022-06-24 13:03] #3724 closed

[2022-06-24 13:20] TkDodo commented on #3734
fixed with 3ebf0d4d77c5c2b88edfa0934ceba71a87c48f69, but not sure why the docs aren't updating.

[2022-06-24 13:20] #3734 closed

[2022-06-24 13:21] TkDodo commented on #3740
in v4, the signature has been changed to:

[code]

[2022-06-24 13:23] TkDodo commented on #3707
then let's continue the discussion in #3595 please

[2022-06-24 13:23] #3707 closed, assigned to nobody

[2022-06-24 13:35] TkDodo commented on #3741
query keys _are_ hashed deterministically, but when comparing queries, there is no hashing going on, because we have to partially compare them. For that, we use `Object.keys` to iterate over the objects. If you explicitly pass `filter:undefined`, we  cannot invalidate a query that has `filter: { done: true }`, why should we? That filter clearly doesn't match `filter: undefined`.

so yeah, for part

[2022-06-24 14:34] RichardJuchelka commented on #3741
Thanks for the quick response @TkDodo.
Does it make sense to differentiate between no prop and `undefined` prop? It still seems to be an issue to me. I have to filter out the `filter` prop in the key factory if not set. I can imagine another dev is not going to cover this for different entities. It can introduce stale cache errors (as I just found out). In my example you can see I didn't set `filt

[2022-06-24 14:50] TkDodo commented on #3734
Docs are fixed now.

[2022-06-24 17:20] TkDodo commented on #3718
you can try to come up with a minimal example that fails. you don't have to show your code, and you don't have to connect to your api. The template is very clear that we cannot invest time if you don't invest the minimum time of reproducing the issue. The chances are high that there is an issue with your setup rather than with react-query.

Feel free to reopen once you have a reproduction.

[2022-06-24 17:20] #3718 closed

[2022-06-24 17:54] TkDodo commented on #3732
not sure what the "issue" here is. isFetching is always true when a request is going out. isRefetching is true if you are fetching and have fetched before. isFetchingNextPage is true if you are fetching the next page.

Naturally, some of those flags can overlap....

[2022-06-24 19:48] lgenzelis commented on #3579
@bujardeari here's the [same example which I used to show the bug, but adding that workaround](https://codesandbox.io/s/useinfinitequery-bug-workaroung-vwfo9n?file=/src/App.js) (lines 26 to 38).

If you now click "update first page" while another page is fetching, you'll notice two things:
- you'll still see "loading..." in the first button
- nothing will change in the first bullet _until_ the pag

[2022-06-24 19:52] torinmb opened #3746 "Next.js example doesn't load"
### Describe the bug

If you navigate to the default example for Next.js the code sandbox fails to run correctly: https://react-query.tanstack.com/examples/nextjs

### Your minimal, reproducible example

Code Sandbox

### Steps to reproduce

Go to: https://codesandbox.io/s/github/tannerlinsley/react-query/tree/main/examples/nextjs, or https://react-query.tanstack.com/examples/nextjs

### Expected

[2022-06-24 23:26] artysidorenko commented on #3738
Hi @rabengraph,

On your line 6 you've specified that your query function must take a query key that's a fixed-length tuple - `[{ foo: number }]`.

But when you initialise query-options as a variable, TS assumes the query key to be a variable-length array `{ foo: number }[]`, not a tuple (TS always does this, it's why [for example it complains when you try to assign an array literal to an identica

[2022-06-25 06:19] heyuuuu commented on #3437
do you have a demo?

[2022-06-25 06:21] heyuuuu commented on #3437
do you have a demo?

[2022-06-25 06:22] heyuuuu commented on #3437
i have the same question

[2022-06-25 06:28] TkDodo commented on #3746
I think it has something to do with the checked in `yarn.lock` file. Most other examples don't have that. We've changed the hydrate export so maybe that's that.

I've forked the example and updated the version, then it works fine: https://codesandbox.io/s/nostalgic-swartz-6pdt3l

[2022-06-25 06:34] TkDodo commented on #3741
I would probably create two different functions to build keys that compose each other:

[code]

[2022-06-26 22:10] nctay commented on #3595
Having same issue with **turborepo** monorepo setup, extracting queries to different package causes it.

[2022-06-27 04:24] chungweileong94 commented on #3738
Agreed with @rabengraph.
Or you can create a query key factory that manages the query keys, which also handle type nicely. There's a [good blog article](https://tkdodo.eu/blog/leveraging-the-query-function-context#query-key-factories) from @TkDodo

[2022-06-27 06:10] TkDodo commented on #3595
@nctay can you link to an example repo that has the issue please?

[2022-06-27 09:03] andresgutgon commented on #936
This behaviour was very surprising to me. I would have expected one `useQuery.onSuccess` to be triggered only once.
But is triggered the number of times that `useQuery` with that `queryQuery` is present in the UI at that moment.

Thanks for the solution thought @tannerlinsley !

[2022-06-27 09:24] TkDodo commented on #936
you can also use the global onSuccess handler on the queryCache:

https://react-query.tanstack.com/reference/QueryCache#global-callbacks

[2022-06-27 09:29] andresgutgon commented on #936
In our case was only for 2 keys. I want to trigger an event with our event system only for those 2 keys. So what I did was to trigger it on a `.then` callback on our `fetchFn`

[2022-06-28 10:47] rabengraph commented on #3738
Thank you for the input!
The Generic I use in my example is just not correct,
I changing the Generic from
[code]
to
[code]
which fixes the problem.

[2022-06-28 10:47] #3738 closed

[2022-06-29 08:46] guneemwelloeux opened #3763 "Refetch ignores the "enabled" setting of the query"
### Describe the bug

Running `query.refetch()` on  a query that is not enabled disregards the "enabled" state.

const query = useQuery("key", () => fetch("https://google.com", {enabled: false}) // Will never run the fetch
query.refetch() // Will run the query anyways

This is an issue because I'm using a state boolean to deactivate the query if it's not ready to run (for example an ID coming from

[2022-06-29 08:50] TkDodo commented on #3763
this is what `queryClient.invalidateQueries` or `refetchQueries` is for, which respects `enabled`.

[2022-07-01 05:25] teenjuna commented on #1552
@tannerlinsley shouldn't this be reopened? I'm on `v3.39`, and I still get `{}` as `error` from `useQuery` when an instance of `Error` is thrown inside a fetch function. As @felire has said, if you throw some custom object like `{error: "some error"}`, it's displayed correctly.

[2022-07-01 07:47] TkDodo commented on #1552
yeah let's reopen this and fix it for v4. We initially only used `JSON.stringify` to display the values, but lots of things (`Error` included) is not json serializable. That's why an object works, but an Error instance does not. Now, we have a custom function that serializes `BigInt` differently already:

https://github.com/TanStack/query/blob/1b918c2e8897e970a471624f7f075026db24e15b/packages/reac

[2022-07-01 13:16] RichardJuchelka commented on #3741
### Solution covered by a single key
Please, take another look. I can accept your position that `invalidateQueries([{ entity: "todos", scope: "list", filter: undefined }])` should find and invalidate only this explicit query key (as you have said, `filter: undefined` is an explicit part of the key). But because of https://react-query.tanstack.com/guides/query-keys#query-keys-are-hashed-determinist

[2022-07-01 16:51] nextrapi commented on #2304
Just thought to provide code for another workaround for this issue, which doesn't require manually keeping state but still allows different components to share the same mutation object. As mentioned, just wrap a react context around the custom hook and the desired functionality will be achieved.
https://codesandbox.io/s/silent-frost-mjxlrf?file=/src/App.js

[code]
And use like so:
[code]

[2022-07-02 06:11] TkDodo opened #3772 "too many re-renders when changing keys"
### Describe the bug

When changing the query key, react-query re-renders the component two times with the exact same states

### Your minimal, reproducible example

v4: https://codesandbox.io/s/react-query-re-renders-t2z4u8, v3: https://codesandbox.io/s/react-query-re-renders-v3-cfo8y4

### Steps to reproduce

- Open the sandbox and inspect the console
- on page load, you'll see two renders (load

[2022-07-02 06:14] TkDodo commented on #3772
Note: this used to work in `3.5.11`, but no longer in `3.5.12`

see:
- https://github.com/TanStack/query/pull/1608

[2022-07-03 08:56] karol-janik commented on #3772
Hello, is it still available? I would like to try to work on it. Thanks!

[2022-07-03 09:50] TkDodo commented on #3772
@karol-janik sure, go ahead. Thank you 🙏

[2022-07-04 03:36] abacaj commented on #3772
This appears to be the order of operations when the query key changes:
[code]

states.length counts after each operation:
[code]

The issue is there is a state update that changes key which rerenders
and then also a observer that fires the same state and also rerenders -> which puts at 5 states when the request is successful.

Seems solution might be to disable the redundant notify on key changes?

[2022-07-04 06:44] karol-janik commented on #3772
I noticed that this [`setState`](https://github.com/TanStack/query/blob/beta/src/reactjs/useBaseQuery.ts#L71) causes the loading status to duplicate itself. By replacing this hookup with `useMemo` it seems that everything works as it should. Unfortunately for this, other test casses are crashing (Probably by `defaultedOptions` in the dependency array of useMemo).

[2022-07-04 17:02] abacaj commented on #3772
@karol-janik I'm not sure we can prevent/memo the change.

Might be easier to not fire the "fetch" event from react-query observer when the key changes since this is an extra event that causes the extra "loading" state to appear.

[2022-07-04 22:48] gitdagray opened #3774 "Any further thoughts on deduped mutations with React 18?"
I found this previous discussion:

I don't think it does. mutations have side-effects on the server, they are not idempotent, so we cannot do as many optimization as with "pure" GET requests.

_Originally posted by @TkDodo in https://github.com/TanStack/query/discussions/608#discussioncomment-838630_

Use case: a request sending a refresh token stored in a secure httpOnly cookie - where the server

[2022-07-05 12:57] Hamidkhanswb opened #3778 "Infinite loading"
### Describe the bug

when I set mobile data on with 0 MB(it means mobile data on but there is no MB) then react query give infinite loading with true means no error happen

### Your minimal, reproducible example

Typescript

### Steps to reproduce

1export function useGetAllFavourites<T>(
  value: any,
  options?: UseQueryOptions<T, Error, T>,
) {
  return useQuery(['useGetAllFavourites'], () =>

[2022-07-05 20:21] andresgutgon commented on #936
Thanks for sharing @Subalee . In my case I will not try to fight react-query . I prefer to handle it before all `onSuccess` callbacks are triggered and do my thing there.
Not saying neither is the best solution, it was in my case I think : )

[2022-07-06 14:44] jtomaszewski commented on #3380
In my case the reason was not react18 (or lack of strictmode), but the fact that I had a function memoized and then debounced using `useMemo` `useDebounced`, which would hold a stale reference to a function that had referenced `isFetchingNextPage` property. After fixing up the function memoizations, I no longer had two requests being sent by react-query.

[2022-07-06 15:00] jtomaszewski opened #3780 "Calling `queryClient.setQueryData` during `onSettled` might cause `onSettled` to be called"
### Describe the bug

I have two queries q1 and q2.

Both of them contain part of data that is the same.

So I defined a `onSettled` callback in both of them. So that when q2 query suceeds, it updates the cache of q1, and vice-versa, when q1 query succeeds, it updates the cache of q2.

Unfortunately I'm meeting an infinite loop. It seems like `onSettled` callbacks get called infinitely:

![image](

[2022-07-06 15:03] jtomaszewski commented on #3780
It might seem to happen only when using `useInfiniteQuery`, during the last page fetch (when `getNextPageParam` returns undefined).

[2022-07-06 18:23] TkDodo commented on #3780
In v4, setQueryData does no longer call callbacks, so this is likely fixed. Can you please try with v4?

[2022-07-07 07:50] Einere opened #3784 "setState in onSuccess is not working first time with suspense"
### Describe the bug

With `Suspense`, calling `setState` in `useQuery.onSuccess` is not changing state.
I found that this issue would be fix turning off `refetchOnWindowFocus`. but it still no good UX (require at least 1 re-rendering)

### Your minimal, reproducible example

https://codesandbox.io/s/react-query-example-f5od07

### Steps to reproduce

1.  make `queryClient` with option below.
[cod

[2022-07-07 12:06] jtomaszewski commented on #3780
Yeah, it seems to be fixed in v4. I guess I'll stay with v4 then ;o

[2022-07-07 12:06] #3780 closed, assigned to nobody

[2022-07-08 14:47] andresgutgon commented on #1077
This is what we do:

[code]

This way when using this custom hook you don't need to pass variables if you don't want:

[code]

[2022-07-08 23:36] bstro opened #3790 "`yarn add @tanstack/react-query` responds with 404"
### Describe the bug

Running `yarn add @tanstack/react-query` per docs yields a 404 error.

<img width="567" alt="image" src="https://user-images.githubusercontent.com/627290/178082137-39fb5a52-0ad3-49c0-914b-113371318558.png">

### Your minimal, reproducible example

n/a

### Steps to reproduce

`yarn add @tanstack/react-query`

### Expected behavior

Should work

### How often does this bug hap

[2022-07-08 23:45] insuusvenerati commented on #3790
You can install v4 using `yarn add react-query@beta` for now.

[2022-07-09 15:08] Kayyow commented on #3790
Maybe we should update the [installation docs](https://tanstack.com/query/v4/docs/installation) because it state that you can install the package via `@tanstack/react-query` which isn't currently working.

[2022-07-09 18:30] addy commented on #3790
FWIW this is also occurring for the `npm i @tanstack/react-query` version of the installation process.

[2022-07-10 04:02] bootrino opened #3793 "Unable to install Tanstack Query"
### Describe the bug

Trying to install results in an error.

npm i "@tanstack/react-query"

### Your minimal, reproducible example

?

### Steps to reproduce

npm i "@tanstack/react-query"
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@tanstack%2freact-query - Not found
npm ERR! 404
npm ERR! 404  '@tanstack/react-query@*' is not in this registry.
npm ERR! 404
npm ERR!

[2022-07-10 05:26] stelmakhivan commented on #3793
I was successful with `npm i react-query@v4.0.0-beta.23` ...

[2022-07-10 12:01] prateek3255 commented on #3310
I tinkered a little bit more and was able to fix the type errors and get one of the overloads working that @yss14 demonstrated with the playground, have pushed the updated code in the same PR, but now the problem is that one of a few other overloads are not working at all, and breaking the existing types.

For instance the `useQuery` overload where it just takes one argument which are all the opti

[2022-07-10 12:08] daniel-anh-nguyen commented on #3793
Can reproduce.

[2022-07-10 13:49] vslepkan commented on #3793
Package not found
https://bundlephobia.com/package/@tanstack/react-query

[2022-07-11 07:57] olan-go2 commented on #3793
Having the same issue... the package is not available via npm

[2022-07-11 09:46] SeanCassiere commented on #3790
Hey, by any chance is there something going on with the package being only accessible via an Org or something?

It is currently not listed on NPM or the Yarn registry.
[NPM @tanstack/react-query](https://www.npmjs.com/package/@tanstack/react-query) - resolves to a login page
[Yarn @tanstack/react-query](https://registry.yarnpkg.com/@tanstack/react-query) - returns a not found

[2022-07-11 09:50] TkDodo commented on #3790
It hasn't been released on npm yet, the docs redirect was a mistake. Please be patient and use this in the meantime:
https://github.com/TanStack/query/issues/3790#issuecomment-1179431860

[2022-07-11 09:51] TkDodo commented on #3793
Duplicate:
- https://github.com/TanStack/query/issues/3790

[2022-07-11 09:51] #3793 closed

[2022-07-13 12:59] TkDodo commented on #3784
calling setState from onSuccess is often an anti-pattern, as you can achieve the same thing with deriving state.

That being said, I think this is just how suspense works: suspense unmounts your component and shows the error boundary. Then, when the fetch succeeds, we call `onSuccess`. You call `setState` on a component that is no longer there, and then react re-mounts your component with a fresh

[2022-07-13 15:58] #3534 closed

[2022-07-13 17:47] mbret opened #3804 "Can't perform a React state update on an unmounted component"
### Describe the bug

Assuming a scenario where the child component call a parent callback prop after a mutation is finished which make some change in the parent and as a result render a different child.

Calling a function which trigger a re-render in the parent from `onSuccess`, `onSettled`, etc will result in a warning

`Warning: Can't perform a React state update on an unmounted component. Thi

[2022-07-14 01:52] theskillwithin opened #3812 "docs: codesandbox not loading"
### Describe the bug

codesandbox examples not loading in docs

### Your minimal, reproducible example

https://tanstack.com/query/v4/docs/examples/react/simple

### Steps to reproduce

go to docs

### Expected behavior

that it works

### How often does this bug happen?

_No response_

### Screenshots or Videos

_No response_

### Platform

macOS,= chrome

### react-query version

idk

### TypeSc

[2022-07-14 05:02] Sangminnn commented on #3784
@TkDodo hello, i have one more question :)

first. would you check me understand correctly?

In anti-case i think that works like below flow
`suspense work -> component unmount -> query success -> onSuccess with setState -> component re-mount`
in onSuccess Status, setState in unmount component isn't work well. ( can't re-render component )
because that watch unmount component's state(setState)

bu

[2022-07-14 05:12] airman5573 opened #3813 "isDataEqual is not explained in Docs"
### Describe the bug

I'm reading useQuery API spec in [docs](https://tanstack.com/query/v4/docs/reference/useQuery).

I found that `isDataEqual` is not explained in that docs.

### Your minimal, reproducible example

https://tanstack.com/query/v4/docs/reference/useQuery

### Steps to reproduce

1. Go to https://tanstack.com/query/v4/docs/reference/useQuery
2. Command + f
3. type `isDataEqual`

##

[2022-07-14 06:13] TkDodo commented on #3812
Thanks, we're aware. Release is coming really soon to fix this.

[2022-07-14 06:41] Einere commented on #3784
@TkDodo
I has tested your solution, it work fine. Thank you for detail explanation! 👏
I just thought that "what difference `onSuccess` and `useEffect`?" "isn't the same thing?".
Now I learned new things. thanks.

[2022-07-14 07:22] Einere commented on #3784
@Sangminnn

It's not accurate, but I'm guessing `Suspense` working like below.
1. `<Suspense>` is mount.
2. child component is mount.
3. call asynchronous call. (like `useQuery`)
5. `<Suspense>` observe child component's asynchronous call, and unmount it, replace it with fallback component.
6. at this time, `useEffect` not called. because child component is unmounted.
7. when asynchronous call ret

[2022-07-14 07:26] TkDodo commented on #3784
@Einere is right, that is how it works.

Because `useQuery` reads from the cache when the component renders, and `data` is in the cache.

With `onSuccess`, it goes like this:

1. Suspense mounts
2. child component mounts
3. usQuery throws the Promise
4. component unmounts, is replaced by suspense fallback
5. onSuccess is called, tries to setState on an unmounted component, which does nothing
6. pr

[2022-07-14 07:26] #3784 closed

[2022-07-14 09:26] TkDodo commented on #3804
This warning was completely removed in React 18, because it was misleading. Have a read here:

https://github.com/reactwg/react-18/discussions/82

Also, if you want conditional callbacks, use the callbacks on the `.mutate` function. Those are called conditionally. The ones on `useMutation` are always called. I'm covering this in my blog here:

https://tkdodo.eu/blog/mastering-mutations-in-react-qu

[2022-07-14 09:26] #3804 closed

[2022-07-14 19:00] #3812 closed

[2022-07-14 20:30] kyles450 opened #3819 "Inactive useInfiniteQuery doesn't complete"
### Describe the bug

From the docs:

I've got a Component that mounts and is using a `useInfiniteQuery` hook. If I unmount the component while the query is still loading I can see that the request finishes successfully in the network tab, but React Query Devtools doesn't get the data. And if I mount the Component again, it starts the request again. In fact, if I do this while the request is still

[2022-07-15 07:41] TkDodo commented on #3819
I think we fixed this in v4. Here's your codesandbox with v4 beta23: https://codesandbox.io/s/magical-breeze-csj5f1?file=/src/index.js

the query now stays in fetching state until it finished, even if you unmount, unless you consume the abort signal, in which case it will be cancelled. This is in-line with how useQuery works.

[2022-07-15 10:30] Dev-eloperr commented on #3790
I am currently on "react-query": "^4.0.0-beta.23" which I installed using
`npm i react-query@beta
`
Now, I am facing this issue while installing devtools
1) Running the command in v4 docs (npm i @tanstack/react-query-devtools)
![image](https://user-images.githubusercontent.com/27141130/179206049-5b618e5d-c051-4db4-aabe-fe1865499154.png)

2) Running the same command after removing @tanstack (npm i

[2022-07-15 12:12] TkDodo commented on #3790
I know this is really confusing, so let me try to clear it up:

for now, all you need is `npm i react-query@beta` if you want v4 or `npm i react-query` if you want v3.

Both of them work the same way:

[code]

devtools are bundled with the lib!

---

once we rollout tanstack query, it will be:

[code]

two separate packages, imported separately:

[code]

there will be a codemod that automatically

[2022-07-15 12:58] TkDodo commented on #3790
here's a working sandbox: https://codesandbox.io/s/boring-thunder-gpw4l9?file=/src/index.js

[2022-07-15 14:20] TkDodo commented on #3813
would you like to add an explanation?

[2022-07-15 16:18] kyles450 commented on #3819
Great, thanks!

[2022-07-15 16:18] #3819 closed

[2022-07-16 04:52] airman5573 commented on #3813
OK, I will

[2022-07-16 09:07] mattpocock commented on #3310
Likely a naive attempt here:

https://github.com/TanStack/query/pull/3834

[2022-07-16 11:43] #3310 closed

[2022-07-17 02:21] delfincortesb opened #3837 "Failed to compile; "React Example: Auto Refetching""
### Describe the bug

![image](https://user-images.githubusercontent.com/66261899/179381199-321e98b6-8aa5-463f-aa8a-ae692f84d4d6.png)

Module not found: Can't resolve '@tanstack/react-query' in '/sandbox/pages'

### Your minimal, reproducible example

https://codesandbox.io/s/github/tanstack/query/tree/beta/examples/react/auto-refetching?from-embed

### Steps to reproduce

1. Got to CodeSandbox

#

[2022-07-17 06:24] scpedicini commented on #3837
Probably related, but the homepage react example for codesandbox doesn't seem to work:
![CleanShot 2022-07-17 at 01 23 15](https://user-images.githubusercontent.com/2040540/179386716-678c9ee8-3a32-4196-9b86-d0ab4b1c9fd9.png)

[2022-07-17 06:37] TkDodo commented on #3837
imports are already changed towards the rebrand, but it hasn't been released yet. see:
- https://github.com/TanStack/query/issues/3790#issuecomment-1185484427

[2022-07-17 06:37] #3837 closed

[2022-07-17 06:58] #3813 closed

[2022-07-17 13:20] #3639 closed

[2022-07-17 22:55] kenchoong opened #3839 "TypeError: dispatcher.useSyncExternalStore is not a function."
### Describe the bug

I hit this error:

[code]

What I have done:

[code]

Above is my setup, then when I test the app by going to `Screen` in iOS and Android, I get this error

[code]

Here is the call stack I got in Expo Go.
![a12](https://user-images.githubusercontent.com/8010129/179427527-ee4f0f2c-cb51-4d7c-a6df-6495d6e7302e.png)

It is cause by `useSyncExternalStore` and `useBaseQuery` which

[2022-07-18 09:58] billyyyyy3320 commented on #3790
IMHO, the problem is the document of pre-release and latest version are misplaced.

I could see https://tanstack.com/query/v4 in description and readme. Also, what I need for the latest version is mentioned as beta version(?). The content of `https://react-query-beta.tanstack.com/` is for v3, right?

Would you like to try React Query v4beta? Check out the v4 beta docs here: https://react-query-bet

[2022-07-18 18:58] lindan4 commented on #3790
Is there any date on which stable version 4 will be released? The documentation for version 3 was removed or is not available either.

[2022-07-18 19:18] TkDodo commented on #3790
https://github.com/TanStack/query/releases/tag/v4.0.0

[2022-07-18 19:18] #3790 closed

[2022-07-18 20:48] bombillazo opened #3846 "v4.0.0 missing TypeScript declaration files"
### Describe the bug

Version 4.0.0 is missing the declaration files to make use of TypeScript typing.

This is affecting all packages part of v4.0.0:
[code]

### Your minimal, reproducible example

N/A

### Steps to reproduce

1. Run `yarn add @tanstack/react-query`
2. Import library in component.
3. Get a warning on missing declaration files:
![image](https://user-images.githubusercontent.com/44

[2022-07-18 20:53] kkirsche opened #3847 "Could not find a declaration file for module `@tanstack/react-query`"
### Describe the bug

react-query 4.0.0 does not seem to correctly expose type information.

[code]

### Your minimal, reproducible example

https://codesandbox.io/s/elastic-sound-pe5253

### Steps to reproduce

Look at red squiggly under import

### Expected behavior

Types should be exposed in such a way that they function as part of the upgrade path, or a migration path is provided to correctly

[2022-07-18 20:54] kkirsche commented on #3846
Closing https://github.com/TanStack/query/issues/3847 as a dupe of this

[2022-07-18 20:55] #3847 closed

[2022-07-18 21:07] mvierssen opened #3848 "Cannot find module '../../../node_modules/use-sync-external-store/shim/index.js'"
### Describe the bug

[code]

### Your minimal, reproducible example

Using a Linux terminal with NodeJS installed

### Steps to reproduce

1. Create and change to new directory
2. Run `npm install react-query`
3. Create file `test.mjs` with the following:
[code]
4. Run: `node test.mjs`

### Expected behavior

I expect to not get a 'MODULE_NOT_FOUND' error.

### How often does this bug happen?

Ev

[2022-07-18 23:26] kkirsche commented on #3847
It’s not solved, closed as a dupe of https://github.com/TanStack/query/issues/3846 so I’m waiting for that issue to be addressed.

[2022-07-18 23:42] bombillazo commented on #3848
These packages have been extracted to their own package and no longer under the `react-query` package:

[code]

[2022-07-18 23:59] bombillazo commented on #3846
Release [v4.0.2](https://github.com/TanStack/query/releases/tag/v4.0.2) fixes this, but some imports not are not compatible with the old structure. We cannot import things that now live in `@tanstack\react-query` using `@tanstack\react-query`:

[code]

[2022-07-19 00:01] bombillazo commented on #3846
Another example:
[code]

[2022-07-19 00:33] Karol-Perec commented on #3846
#3850 should fix it

[2022-07-19 01:58] #3848 closed, assigned to nobody

[2022-07-19 05:21] luisnaranjo733 commented on #3069
@angelmtztrc did you ever figure this out?

I'm running into this with a next.js app that sets the query context provider at the _app level (using SSG)
Surprised to be hitting this

Maybe it's expected that this is not supported when doing SSG with getStaticProps?

[2022-07-19 05:23] TkDodo commented on #3069
Please show a codesandbox reproduction if you have an issue.

[2022-07-19 05:51] TkDodo commented on #3846
fixed with 4.0.3

[2022-07-19 05:51] #3846 closed

[2022-07-19 06:03] jeremiah-ang opened #3852 "CDN link broken on installation page"
### Describe the bug

From https://unpkg.com/react-query@4.0.0/dist/react-query.production.min.js found at https://tanstack.com/query/v4/docs/installation#cdn

### Your minimal, reproducible example

https://unpkg.com/react-query@4.0.0/dist/react-query.production.min.js

### Steps to reproduce

1. Go to https://tanstack.com/query/v4/docs/installation#cdn
2. Go to the CDN link in the <script> tag

[2022-07-19 06:13] TkDodo commented on #3839
v4.0.0-beta.1, v4.0.0-beta.7, v4.0.0-beta.10, v4.0.0-beta.24

plase try with @tanstack/react-query@4.0.3

[2022-07-19 08:50] Paultje52 opened #3855 "Module '"@tanstack/react-query"' has no exported member 'QueryClient'"
### Describe the bug

When trying to import `QueryClient`, TypeScript says that `@tanstack/react-query` doesn't export `QueryClient`. The QuickStart guide clearly mentiones that `QueryClient` needs to be imported (https://tanstack.com/query/v4/docs/quick-start).

### Your minimal, reproducible example

It's just one line: `import { QueryClient } from "@tanstack/react-query";`

### Steps to reprodu

[2022-07-19 08:57] Karol-Perec commented on #3855
Try to reinstall your node_modules, this issue should not appear since 4.0.3

[2022-07-19 10:12] TkDodo commented on #3855
We can also see in the official examples that this works now:

https://codesandbox.io/s/github/tanstack/query/tree/main/examples/react/simple

[2022-07-19 10:26] Paultje52 commented on #3855
The official example isn't working either when converted to TypeScript.
![image](https://user-images.githubusercontent.com/31313717/179728892-d483c0cf-4497-49f4-9cfc-7db57ed743a7.png)

I deleted the entire node_modules directory and reinstalled it using yarn. I checked the `package.json` in `node_modules/@tanstack/react-query/package.json` and it says version `4.0.3`. So this issue is still presen

[2022-07-19 10:27] janfabian opened #3858 "Cannot find module use-sync-external-store"
### Describe the bug

The combination of libs

`"next": "12.2.2"`
`"react-query": "4.0.0"`

Caused error when building next project `next build`

[code]

### Your minimal, reproducible example

https://github.com/janfabian/react-query-4-nextjs

### Steps to reproduce

`next build`

### Expected behavior

Successfully built next project

### How often does this bug happen?

Every time

### Screensh

[2022-07-19 10:58] kenchoong commented on #3839
Unable to install `@tanstack/react-query@4.0.3`
- run `yarn add @tanstack/react-query@4.0.3`
- get this
![image](https://user-images.githubusercontent.com/8010129/179734620-7c68956e-d3f1-47dd-b0d0-c527476831e5.png)

[2022-07-19 11:06] TkDodo commented on #3855
here is a perfectly fine typescript codesandbox with version 4.0.3:

https://codesandbox.io/s/tanstack-query-example-react-basic-typescript-forked-t3smwg?file=/src/index.tsx

[2022-07-19 11:07] kenchoong commented on #3839
@joealden I unable to do this too, due to Expo sdk version

Latest expo sdk is version 45

[2022-07-19 11:08] janfabian commented on #3858
Completely missed that, thanks

[2022-07-19 11:08] #3858 closed

[2022-07-19 11:11] goodluckgod commented on #3855
![image](https://user-images.githubusercontent.com/42766561/179736815-56051d91-1f33-44f2-b6c4-0110bd06c365.png)

There is nothing exported called "QueryClient", I am using 4.0.3 too..

[2022-07-19 11:14] TkDodo commented on #3855
@goodluckgod it's re-exported from the query core via: `export * from '@tanstack/query-core'`

please show a reproduction (not a screenshot) that we can take a look at.

[2022-07-19 11:19] jaworek opened #3860 "@tanstack/react-query-devtools v4 does not include `NODE_ENV` check"
### Describe the bug

According to the documention, devtools should only be included in `development` mode:
https://tanstack.com/query/v4/docs/devtools#install-and-import-the-devtools

React Query v3 devtools include check for that:
https://github.com/TanStack/query/blob/v3/devtools/index.js

React Query v4 are missing this check which results in devtools being bundled in production and increasing

[2022-07-19 11:31] joealden commented on #3839
@kenchoong to give some more context on why the error occurs, it'll be because v4 makes use of the `useSyncExternalStore` hook that was introduced in React 18, but (I believe) does so in a way where it keeps compatibility with react versions prior to 18 but detecting it's existence in what `react` exports. Because you are depending on a `react` version that has the new hook exported, the compatibi

[2022-07-19 11:46] TkDodo commented on #3860
I re-created what we had in v3 here: https://github.com/TanStack/query/pull/3861

but it doesn't seem to work well with ESM. Do you have a better idea?

[2022-07-19 11:54] Paultje52 commented on #3855
After restarting my pc everything seems to be working fine, strange. Maybe it's some kind of caching issue. Anyways, everything works now. Thanks for your help!

[2022-07-19 11:59] #3855 closed

[2022-07-19 11:59] kenchoong commented on #3839
@joealden Thanks

I think for now I will stick with

[code]

Because when I downgrade to react 17.0.2, it causing problem for me in Nextjs in another library.

The version above is good for me for now

[2022-07-19 13:14] doberkofler opened #3863 "Unable to upgrade from v3 to v4"
### Describe the bug

I have been trying to upgrade from v3 to v4 and wanted to install the new package as described in the documentation.
Unfortunately the packages do not seem to exist:

[code]

### Your minimal, reproducible example

n.a.

### Steps to reproduce

[code]

### Expected behavior

n.a.

### How often does this bug happen?

Every time

### Screenshots or Videos

_No response_

### P

[2022-07-19 13:17] pgs-gmartowski commented on #3863
Same here, it was working couple of hours ago, now is not.

[2022-07-19 13:22] TkDodo commented on #3863
yeah we did "something", not sure what. Tanner and I are looking into it. sorry for that.

[2022-07-19 13:36] TkDodo commented on #3863
it's back at version `4.0.5`. sorry for the trouble

[2022-07-19 13:36] #3863 closed

[2022-07-19 13:37] TkDodo commented on #3863
at least we can say: `4.0.3` worked fine, then `4.0.4` was not found, and `4.0.5` is back again. oh the irony 😆 . sorry again

[2022-07-19 13:41] doberkofler commented on #3863
Thank you

[2022-07-19 14:21] aniketbiswas21 opened #3865 "Prefetching infinite query does not do anything"
### Describe the bug

I was trying to implement an infinite scroller using `useInfiniteQuery`. To improve the user experience, I decided to prefetch the next cursor's data using `prefetchInfiniteQuery`, whenever the response from the first one is returned

But, prefetching infinite query leads to infinite rendering. Is there a way to achieve the above?

### Your minimal, reproducible example

http

[2022-07-19 14:29] Karol-Perec commented on #3855
It happens that Typescript won't refresh when you install/update packages. If it happends, run _Typescript: Restart TS Server_ command in your IDE.

[2022-07-19 16:48] smashercosmo opened #3867 "Can't install persistence plugins"
### Describe the bug

when trying to install persistence plugins by running 'yarn add @tanstack/query-async-storage-persister' getting the following error
[code]

### Your minimal, reproducible example

repro is not needed

### Steps to reproduce

just try to run `yarn add @tanstack/query-async-storage-persister`

### Expected behavior

it should be possible to install persistence plugins

### How

[2022-07-19 17:27] TkDodo commented on #3867
works for me. can you try again?

the offline example that uses persisters is also up and running: https://tanstack.com/query/v4/docs/examples/react/offline

[2022-07-19 17:35] smashercosmo commented on #3867
Ok, it works with npm, but doesn't work with yarn. installing @tanstack/react-query works both with npm and yarn.

[2022-07-19 17:37] TkDodo commented on #3867
i tried both yarn and npm locally and it worked

[2022-07-19 17:40] smashercosmo commented on #3867
ok, I upgraded yarn to 1.22.5. And it started to work after that. Thx.

[2022-07-19 17:40] #3867 closed

[2022-07-20 03:09] pakatagoh opened #3875 "Previous @tanstack/react-query versions unpublished?"
### Describe the bug

Unable to install versions before 4.0.5

`npm view @tanstack/react-query versions ` results in only 4.0.5 being listed

### Your minimal, reproducible example

https://www.npmjs.com/package/@tanstack/react-query

### Steps to reproduce

Try installing with a fixed version like 4.0.4

### Expected behavior

Expected to install 4.0.4 successfully

### How often does this bug ha

[2022-07-20 04:18] huynqjmango360 commented on #3875
same here!

[2022-07-20 06:07] TkDodo commented on #3875
They have been unpublished by accident. please start with 4.0.5.

[2022-07-20 06:07] #3875 closed

[2022-07-20 09:08] MattyBalaam commented on #3860
I am guessing this issue also causes these failures in my test too:

<img width="1081" alt="Screenshot 2022-07-20 at 10 08 01" src="https://user-images.githubusercontent.com/1246923/179943774-cc13d878-3c09-464f-9f86-374b47b7e705.png">

[2022-07-20 10:40] Zerebokep commented on #3863
You should make 4.0.5 also available in the 'react-query' repo, switching to @tanstack breaks graphql codegen: https://github.com/dotansimha/graphql-code-generator/issues/8116

Maybe mirror the repo?

[2022-07-20 11:17] TkDodo commented on #3860
@jaworek can you try it out with this codesandbox preview build?

[code]

it doesn't seem to work on my tests with the stackblitz - I get 101kb with the devtools and 87 without them.

However, I also get 101kb if I do:

[code]

which, idk, should be the same as if the devtools were not there at all, right?

[2022-07-20 12:12] maapteh commented on #3846
@TkDodo please re-open

`Module '"@tanstack/react-query"' has no exported member 'QueryClient'.ts(2305)`

[2022-07-20 12:19] maapteh opened #3879 "v4.0.5 lots of types are suddenly missing in v4 while in the docs/code"
### Describe the bug

I suddenly got TS errors when moving away from the beta4 to the real v4.
While these errors are not legit since the props are in the code!

`Module '"@tanstack/react-query"' has no exported member 'QueryClient'.ts(2305)`

also things on `useQuery` like "retry", "enabled", "refetchInterval", "cacheTime",  "retry" is suddenly gone in typings, according to the docs: https://tans

[2022-07-20 12:50] TkDodo commented on #3879
please show a codesandbox reproduction where this doesn't work. it was reported a lot in the last 2 days and it was always a false positive

[2022-07-20 12:54] maapteh commented on #3879
I will look into your typings export and show you the proof :)

[2022-07-20 13:03] maapteh commented on #3879
`node_modules/@tanstack/react-query/build/types/packages/react-query/src/useQuery.d.ts`

[code]

[2022-07-20 13:05] TkDodo commented on #3879
I don't know what you are trying to say 🤷‍♂️

[2022-07-20 13:15] maapteh commented on #3879
wha

[2022-07-20 13:16] #3879 closed, assigned to nobody

[2022-07-20 13:24] maapteh commented on #3879
It seems to origin from the fact locally i was using the beta and just added the new package.
When i removed all my local modules and runned yarn again my editor was happy, sorry for again false positive but i guess there where more beta users like me :) thanks for the TS playground @TkDodo appreciated!

[2022-07-20 14:55] #3860 closed

[2022-07-20 15:37] TkDodo opened #3882 "ESM support"
we had it in v4 beta, but it went away with the rebranding.

prior art:

- https://github.com/TanStack/query/pull/3521

there were some useSyncExternalStore issues reported after that, which prompted another fix:

- https://github.com/TanStack/query/pull/3601

[2022-07-20 15:37] TkDodo commented on #3882
@sachinraja FYI

[2022-07-20 16:10] Manubi commented on #3860
Hi,
   "@tanstack/react-query": "^4.0.5",
    "@tanstack/react-query-devtools": "^4.0.6",
![CleanShot 2022-07-20 at 18 09 56](https://user-images.githubusercontent.com/20935138/180030769-166481b4-96db-49d6-8270-9e4eeeee3ae7.png)

[2022-07-20 16:17] TkDodo commented on #3860
@Manubi which bundler is this?

[2022-07-20 17:07] ug02fast commented on #3860
Having the same issue. Devtools not loading.

[2022-07-20 17:13] TkDodo commented on #3860
Can someone please provide more info?

[2022-07-20 17:19] Manubi commented on #3860
Hi again,

"react": "18.2.0",
"react-dom": "18.2.0",
"next": "12.2.2", with webpack 5.

Anything else?

[2022-07-20 17:48] TkDodo commented on #3860
fix is here:
- https://github.com/TanStack/query/pull/3884

[2022-07-20 20:50] Patchrik commented on #3855
I'm on WSL 2, VS Code, and I'm having the same issues. Under package.json I have`"@tanstack/react-query": "^4.0.8",`

`import { QueryClient, QueryClientProvider } from '@tanstack/react-query';`
Gives me the error "Module '"@tanstack/react-query"' has no exported member 'QueryClient'.ts(2305)"

So far I have restarted VS Code, TS server, and WSL. Deleted and reinstalled node-modules, restarted the

[2022-07-20 22:41] maapteh commented on #3879
https://github.com/TanStack/query/issues/3855#issuecomment-1189127386

[2022-07-21 05:05] TkDodo commented on #3855
Hmm, do you still have a copy of  react-query in your node_modules? What does packages.lock say?

[2022-07-21 10:49] TkDodo commented on #3746
This is fixed now

[2022-07-21 10:49] #3746 closed

[2022-07-21 11:06] maapteh commented on #3855
For me 4.0.10 fixed it eventually, i first removed react-query did yarn then yarn add @tanstack/react-query which installed version 4.0.10 and all my typing errors are gone

[2022-07-21 11:38] TkDodo commented on #3855
glad to hear that

[2022-07-21 11:53] farzd commented on #3772
is this still an issue ? i'm on ``` "@tanstack/react-query": "^4.0.9"``` and seeing this behaviour on react native
[code]

[2022-07-21 11:59] zxc1518343069 opened #3894 "react-query-devtools return null"
### Describe the bug

I use create-react-app to initialize a project. Execute npm i @tanstack/react-query-devtools @tanstack/react-query
After setting up according to the tutorial, react-query-devtools does not appear on my webpage

### Your minimal, reproducible example

none

### Steps to reproduce

npm i @tanstack/react-query-devtools @tanstack/react-query
Configure according to the textbook

#

[2022-07-21 12:01] TkDodo commented on #3894
which bundler are you using?

[2022-07-21 12:03] TkDodo commented on #3894
ah, just saw it's create react app.

lots our examples use create-react-app, and it works fine there:
https://tanstack.com/query/v4/docs/examples/react/simple

[2022-07-21 12:22] #3894 closed

[2022-07-21 13:13] Patchrik commented on #3855
Alright I finally found the issue. My co worker had also installed react-query that I missed when reading through the project's packages. So I had a new and old version on the project, versions 4.0.0 & 4.0.8. I removed both of them from the lock, packages, and node modules did a fresh install and everything is now working as it should.

Thank you for your help!

[2022-07-21 13:21] TkDodo commented on #3855
everybody wants to install react-query 😂

[2022-07-21 14:24] mfalthaw opened #3895 "Broken codesandbox links"
### Describe the bug

Most codesandbox links are broken on the doc pages

### Your minimal, reproducible example

https://codesandbox.io/s/github/tannerlinsley/react-query/tree/main/examples/suspense

### Steps to reproduce

1. Go to [Suspense guide](https://react-query-v3.tanstack.com/guides/suspense)
2. Scroll down to `Query configuration:`
3. Click on [Suspense Example](https://codesandbox.io/s

[2022-07-22 12:02] #3895 closed

[2022-07-23 10:28] petercpwong commented on #3595
Having the same issue as well with a NextJS pnpm monorepo setup, even after upgrading to react-query v4. Had to pass in `defaultContext` to every single hook to get it to work. I'm also using `next-transpile-modules` so that could be what's causing the issue.

It works flawlessly with a vite pnpm monorepo setup though.

[2022-07-23 23:20] JohnDaly commented on #3894
For others who might run into this, on older versions of `react-scripts` the bundler will pick the UMD entrypoint for `@tanstack/react-query-devtools`, which is defined by `"browser": "build/umd/index.production.js"`.

The latest version of `react-scripts` resolves things properly, using the ESM entrypoint instead.

[2022-07-24 06:58] bitroy opened #3910 "Getting a unnecessary semi-colon (;) node"
### Describe the bug

Getting a unnecessary text node with semi-colon(;).

### Your minimal, reproducible example

https://codesandbox.io/s/aged-forest-3tyrpy?file=/pages/_app.jsx

### Steps to reproduce

1. Create a Nextjs app with create-next-app
2. Install the latest @tanstack/react-query and @tanstack/react-query-devtools.
4. Setup QueryClientProvider with Hydrate in the _app.js  as per https:

[2022-07-24 07:35] bitroy commented on #3910
Found the root cause. :|
Closing this.

[2022-07-24 07:35] #3910 closed

[2022-07-24 07:46] bogadrian commented on #1969
After carefully reading these comments and after TKDodo helped me understand what happens on Twitter, Thank you very much, this is my take: he wants to grab the data from cache on the Children component use useQuery, because the data is already there from the first onSuccess in the Parent. To not fire a second request on Children which would be a waste somehow. Data is fresh anyway, only the Child

[2022-07-24 16:46] ilovedesert001 opened #3911 "Unexpected query call in suspense mode"
### Describe the bug

Why is fetchMockApi1 called twice?

[code]

<img width="1087" alt="image" src="https://user-images.githubusercontent.com/15065396/180657470-301d902a-8e80-41da-9f30-742b7735a725.png">

### Your minimal, reproducible example

https://codesandbox.io/s/competent-dew-fomvdq?file=/src/index.js

### Steps to reproduce

1. go to https://codesandbox.io/s/competent-dew-fomvdq?file=/src

[2022-07-24 17:13] stamahto commented on #3595
I have same issue too

[2022-07-24 17:49] TkDodo commented on #3911
Because of suspense: true
suspense unmounts the component and mounts the fallback of the suspense boundary instead. Then, when the request finishes, it will mount the component again. Multiple useQuery calls + suspense create a waterfall, so what happens is:
- component mounts, d1 fetches, component suspends
- d1 finishes, component re-mounts, d2 fetches, component suspends
- d2 finishes, componen

[2022-07-24 17:49] #3911 closed

[2022-07-24 17:52] TkDodo commented on #3595
It's honestly not very helpful stating that you have the issue too without providing a minimal reproduction that we can look into. So far, no one has created a reproduction, so there is nothing I can look into.
I'm gonna close this now, feel free to reopen once you can share a reproduction.

[2022-07-24 17:52] #3595 closed

[2022-07-24 18:00] #3852 closed

[2022-07-24 19:51] geraldodev commented on #3894
https://unpkg.com/browse/@tanstack/react-query-devtools@4.0.10/build/umd/index.development.js the source is code of umd is literally returning null. I faced this problem using a shadow-cljs compiler which uses google closure compiler.

[2022-07-24 20:18] mverissimo commented on #3595
I faced this issue too, you need to check if have the equal version of react and react-query and both packages.

[2022-07-24 20:40] TkDodo commented on #3894
Yes we probably need a new issue for the umd build please, but this should only matter if you import it from a cdn. Bundlers would either pick up the cjs or the esm builds, which both work fine.

[2022-07-24 21:30] geraldodev commented on #3894
Sorry, I tried to open an issue like you asked but I struggle with the reproducible example. I'm using shadow-cljs compiler, so you are not benefit for an example provided by me.

[2022-07-25 05:38] stamahto commented on #3595
I do, still not working. I´m gonna have to learn publishing packages into npmjs and create reproduction case. It will take me some time, but I hope it will be worthy.

[2022-07-25 06:34] SoftMemes commented on #3595
Hi,

Not a repro, and I'm travelling so will be a brief message from the phone, but I know at least what caused this now. Using yarn 3 with a pnpm style repo (this may apply to other setups but this is where I've seen it), a dependency will only be shared if it matches exactly. This means that the same version has to be resolved which is easy enough to guarantee with version ranges but also critic

[2022-07-25 06:54] TkDodo commented on #3894
In this case, the example can just link to the unpkg version of the development umd build because there we can see that it doesn't render anything

[2022-07-25 11:12] geraldodev opened #3916 "umd file index.development.js returns null for devtools"
### Describe the bug

The UMD file https://unpkg.com/browse/@tanstack/react-query-devtools@4.0.10/build/umd/index.development.js returns null for devtools.

I'm my case I'm consuming via shadow-cljs , the clojurescript compiler,
According to @tkdodo it also can affect cdn consumers.

### Your minimal, reproducible example

https://unpkg.com/browse/@tanstack/react-query-devtools@4.0.10/build/umd/in

[2022-07-25 11:12] geraldodev commented on #3894
https://github.com/TanStack/query/issues/3916

[2022-07-25 13:39] fzaninotto opened #3917 "Brutal deprecation"
### Describe the bug

## Problem

The previous version or react-query is deprecated on npm: https://www.npmjs.com/package/react-query. The package doesn't even have a readme.

<img width="1500" alt="image" src="https://user-images.githubusercontent.com/99944/180778352-9aa57840-22bc-4788-9cda-23edea64e41e.png">

The documentation for react-query v3 isn't available when going to https://tanstack.com

[2022-07-25 14:05] idrissakhi commented on #3917
Agree

[2022-07-25 15:50] TkDodo commented on #3917
let me clarify what happened:

- we released v4 as `@TanStack/react-query` v4. That is also what you see when you go to the TanStack docs.
- `react-query` on npm was always meant to stay on 3.x, however, something went wrong with the release and we inadvertently also released a version 4.0.0 of react-query.
- we tried to unpublish that release, but it lead to even more troubles. So we just marked

[2022-07-25 15:55] fzaninotto commented on #3917
Thanks for the clarification! And for the reassurance.

So the heart of the problem is that the npmjs.org message is misleading. Can't you remove the 4.0 release instead of deprecating it? The npm folks should be able to help.

Otherwise, please add an explicit readme in the release explaining that react-query is NOT deprecated.

[2022-07-25 16:04] TkDodo commented on #3917
@tannerlinsley is in contact with them as far as I know.

[2022-07-25 16:14] amiiit opened #3920 "Custom useQuery hook, passing down options requires Omit<>"
### Describe the bug

Hello,

Immense gratitude for creating this powerful library ❤️

See the following [TS playground](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbwK4GcCmBFJaoE8A0cAquljrgPJgzAQB2KAvnAGZQQhwBEAAjAIYMBAYwDWAeihp+wmAFoAjtjxcA3AFgAUFpi4waOAFlcAEX4C4AXkRa4duHQBcDpCABGOLYy3D6KeKhoxmYCAOrAMAAWVDR+VnAAFLb2ENS0DAD8ziSYypRpfgA8web8hACiUOxQhCUCAHxaAJRW9Taa9nBSMEhQdHCBZHjFpqX1S

[2022-07-25 16:23] amiiit commented on #3920
Typing my `options` argument as follows stops the error from showing:

[code]

I'm hoping for a bit more elegant way to achieve this though

[2022-07-25 16:24] TkDodo commented on #3920
if you are using the version of useQuery where you pass in queryKey and queryFn separately from each other, then yes, you have to omit. Because `queryKey` and `queryFn` are both part of the `options`,so what would happen if I call your custom hook with a different queryKey? Would we take the one from the options, or the hardcoded one `['my-data']` ?

This is just a very weird api, and I always adv

[2022-07-25 16:24] #3920 closed

[2022-07-25 16:30] amiiit commented on #3920
Thank you @TkDodo, this makes total sense!

Did you have any thoughts about a utility type for this, so that this kind of pattern can be done more easily, or do you consider this to be an absolute anti-pattern?

What would be a recommended way to simply expose options such as `onError`, `onSuccess`, things that a healthy use-case would want to be able to expose?

If you share some of your idea I'd

[2022-07-25 16:35] TkDodo commented on #3920
I'd just do:

[code]

there usually aren't that many custom things you'd want to pass in to the same hook :)

[2022-07-25 16:37] amiiit commented on #3920
Thank you!

[2022-07-25 19:54] iM-GeeKy opened #3921 "Can't resolve '@tanstack/react-query'"
### Describe the bug

The latest version of `@tanstack/react-query` appears to error out on when importing the library. A basic `create-react-app` is provided below in order to reproduce.

### Your minimal, reproducible example

https://github.com/iM-GeeKy/my-app

### Steps to reproduce

1. run `npm start`.

### Expected behavior

Library is successfully imported with no errors being thrown.

###

[2022-07-25 20:04] #3921 closed

[2022-07-26 08:16] sonjoydatta opened #3925 "useQuery isLoading shouldn't be true unless the enabled condition is matched"
### Describe the bug

`useQuery` has a key called enabled. If you pass `enable: false`, `isLoading` is stuck to the value `true`. I think it should be false because the API didn't meet the condition.

### Your minimal, reproducible example

https://codesandbox.io/s/busy-sea-xnnm8r

### Steps to reproduce

1. Configure ReactQuery with a fresh project
2. Make an API call and pass `enabled: false`
3.

[2022-07-26 10:23] DamianOsipiuk commented on #3925
I think You should actually use `isFetching`  in combination with `isLoading`

[code]

This should show only during initial fetch, not on refetches

https://tanstack.com/query/v4/docs/guides/queries#why-two-different-states

  The `status` gives information about the `data`: Do we have any or not?
  The `fetchStatus` gives information about the `queryFn`: Is it running or not?

[2022-07-26 16:15] TkDodo commented on #3925
⬆️  this is the correct answer. I'm aware that it might come across as confusing, because `loading` was, until now, always tied to the initial fetch, like showing a "loading spinner" when you are "loading". And while this is enough for most of the cases, there are edge-cases where you now can be in loading state without actually fetching data (being offline, having a disabled query). This is still

[2022-07-26 16:15] #3925 closed

[2022-07-27 13:58] marissync commented on #3595
How did you do that? Facing same issue in next.js

[2022-07-28 01:40] petercpwong commented on #3595
@marissync The `useQuery` hook accepts a `context` property. Just pass in the `defaultContext` exported by react query.

[code]

[2022-07-28 11:08] marissync commented on #3595
Thank you, @petercpwong!!

[2022-07-28 15:26] WouterrV opened #3936 "Data in store gets somehow corrupted"
### Describe the bug

Been on this bug for a few hours, didn't figure out the root cause, but narrowed it down quite a bit!
The problem: data received by `react-query` somehow doesn't match the data returned by the library. My code doesn't modify the in-store values yet the values change anyway when doing a forEach, for some reason.

Doing the forEach on a clone of the data (using lodash` `cloneDe

[2022-07-28 20:12] Alcas1 commented on #3352
Are they worried that we could potentially use a different error type on some queries? My use case is openapi gen client so we internally guarantee an error type of ApiError. I feel like we should be given the option to define this if we need

[2022-07-28 20:21] laurentDellaNegra commented on #3772
It seems to be the same issue in the practice of React Query lesson:
https://codesandbox.io/s/solution-render-optimizations-v1rgki?from-embed

There is 3 re-renders instead of 2

[2022-07-29 03:20] qu-chen-99 opened #3941 "about useQueries"
### Describe the bug

As a junior front-end developer, I recently encountered a small problem when learning react query: when reading usequeries on the official website of react query, I saw this sentence as shown in the figure, but I can't quite understand its meaning. Can someone explain it to me? Thank you very much.

### Your minimal, reproducible example

no

### Steps to reproduce

no

### E

[2022-07-29 09:39] Estevete opened #3943 "Devtools not working on React Native Web"
### Describe the bug

Devtools are not working on React Native Web anymore. In v3, it used to work.

### Your minimal, reproducible example

https://github.com/TanStack/query/tree/main/examples/react/react-native example

### Steps to reproduce

1. Get the https://github.com/TanStack/query/tree/main/examples/react/react-native example
2. In file `App.tsx`, import & add `<ReactQueryDevtools />` ins

[2022-07-29 10:26] sandergo90 opened #3945 "MutateAsync is not resolving when no internet connection is available"
### Describe the bug

Hi,

We already implemented offline support using the beta versions of v4, after upgrading now to the latest v4 version, it doesn't seem to work anymore.

Kind regards,
Sander

### Your minimal, reproducible example

Code inside bug report

### Steps to reproduce

Our network mode is the default "online" mode and the onlineManager is set correctly to offline.  Let's take the

[2022-07-29 11:02] TkDodo commented on #3945
we haven't changed anything code-wise between `beta` and the stable versions - all that changed were the imports.

if your `networkMode` is `online` (the default), and you start a mutation while you are already `offline`, the mutation will immediately go into the `isPaused: true` state. It will continue once you go online again.

I see nothing in your code that changes this default behaviour. Plea

[2022-07-29 12:06] sandergo90 commented on #3945
When the user is offline, the user is able to add a shopping list. Executing this mutation will run the `onMutate` function which will add this shopping list to the react-query cache. When the user will come back online, it will execute the network call.

Right now, code after the `mutateAsync` function is never executed, because the `await mutateAsync` is never resolved. I thought that it would j

[2022-07-29 13:34] WouterrV commented on #3936
Never mind, the issue was with me forgetting that pass-by-reference was a thing. I thought I copied the data, but I was directly editing the data in the React-Query store.

[2022-07-29 13:34] #3936 closed

[2022-07-29 14:27] TkDodo commented on #3945
`onMutate` will run, yes, and then we try to execute the mutation, which will be immediately paused because you have no network. At no point in time in the `beta` versions did `await mutateAsync(...)` resolve while you are offline with the default `networkMode`.

So unless you can show a running example that had this behaviour, all I can say is it works as expected.

What you can and probably shou

[2022-07-29 15:18] TkDodo commented on #3352
can someone please provide a reproduction in https://typescriptlang.org/play ? From the description alone, I don't understand the problem fully.

[2022-07-29 15:27] TkDodo commented on #3772
remove `React.StrictMode` from the example and the render count goes down to 2. This is _not_ related.

[2022-07-29 19:40] Zerebokep opened #3948 "error field only contains message"
### Describe the bug

When accessing the .error field it seems only to contain the error message, no additional data.

`

### Your minimal, reproducible example

-

### Steps to reproduce

For example I get the following response from the graphql server:

`{"errors":[{"extensions":{"path":"$","code":"test-message"},"message":"Test message."}]}`

the output of the error field is:

`Error: New devic

[2022-07-30 06:12] TkDodo commented on #3948
the error field will contain exactly what the queryFn returns if it returns a failed Promise.

[code]

[code]

[code]

there is nothing graphql specific about react-query, so this behaviour only depends on how you fetch the data inside the queryFn.

also, if you open an issue, always provide a runnable codesandbox example

[2022-07-30 06:12] #3948 closed

[2022-07-31 14:10] rolivegab commented on #435
This confused me too. Lose a considerably amount of minutes until figure it out.
I think refetchQuery is better than refetchQueries.

[2022-07-31 19:25] ursnj opened #3963 "Possible Unhandled Promise Rejection: TypeError: Cant create property 'exact' on string 'XXX'"
### Describe the bug

 WARN  Possible Unhandled Promise Rejection (id: 41):
TypeError: Cannot create property 'exact' on string 'CHATS'
TypeError: Cannot create property 'exact' on string 'CHATS'
    at find (http://localhost:8081/index.bundle?platform=android&dev=true&minify=false&app=njsolutions.watchpartys&modulesOnly=false&runModule=true:162639:49)
    at getQueryData (http://localhost:8081/in

[2022-07-31 20:33] TkDodo commented on #3963
You're not showing any reproduction

[2022-07-31 20:33] #3963 closed

[2022-08-01 07:23] sandergo90 commented on #3945
Alright, clear, thanks 👌

[2022-08-01 07:23] #3945 closed

[2022-08-01 10:43] olliejm opened #3965 "v4 of broadcast client, "cannot resolve '../../src/methods/node.js""
### Describe the bug

I am trying to update a Gatsby application to the new v4 packages of React Query. All of this went fine with the exception of the new `@tanstack/query-broadcast-client-experimental` package. We were previously using the experimental broadcast client in v3 without any issues. The error reported, which breaks the build itself, is the following:

[code]

I created a minimal repr

[2022-08-01 11:48] rajeshdish opened #3966 "V4 Not Working on PReact"
### Describe the bug

As i said in the title,

React + V4 React Query (Working) | https://codesandbox.io/s/cranky-drake-yg06hx?file=/src/provider.js
PReact + V4 React Query (Not Working) | https://codesandbox.io/s/competent-platform-50c1xz?file=/src/provider.js

But V3 React Query works with PReact

In Above codesandbox i was trying to run simple useMutation with a promise method

### Your minimal

[2022-08-01 20:29] kylebake commented on #3691
@tarikpnr same boat here, using react-native with `testing-library/react-native` and their new `renderHook` doesn't operate the same way as all of the other implementations. I have no issue getting the tests to pass with `testing-library/react` or with `testing-library/react-hooks`. I'm going to try to open something on their repo to address this since https://github.com/testing-library/react-hook

[2022-08-01 23:54] DamianOsipiuk commented on #2741
@TkDodo Adding `observerOptionsUpdated` event to queryCache and sending it in `setOptions` of `queryObserver` after `updateQuery` would do?
https://github.com/TanStack/query/blob/main/packages/query-core/src/queryObserver.ts#L171

[2022-08-02 07:27] TkDodo commented on #2741
Yes this sounds about right 👍

[2022-08-02 10:16] Pika-Pool opened #3972 "`useQuery` status on mount is `loading` when `enabled` is false in React Native Project"
### Describe the bug

Similar to #1657.

On initial load, `useQuery`'s status is `loading`, even without running the fetch function, when the `enabled` option is set to `false`.

### Your minimal, reproducible example

https://snack.expo.dev/@pikapool/react-query-initial-loading-bug

### Steps to reproduce

Run the expo snack link

### Expected behavior

initial status of `useQuery` should not be

[2022-08-02 11:43] TkDodo commented on #3972
This is on purpose and one of the breaking changes in v4. Please see:
- https://tanstack.com/query/v4/docs/guides/migrating-to-react-query-4#the-idle-state-has-been-removed
- https://tanstack.com/query/v4/docs/guides/queries#why-two-different-states
- https://tanstack.com/query/v4/docs/guides/disabling-queries

[2022-08-02 11:43] #3972 closed

[2022-08-02 18:29] kenchoong commented on #3839
Nice, even better
https://blog.expo.dev/expo-sdk-46-c2a1655f63f7
Expo SDK 46 is up.
It use React 18 and React Native 0.69.3
This is what we want to solve this problem

[2022-08-03 09:05] olliejm commented on #3965
I did further reading and this seems to be related to the `broadcast-channel` package itself not being handled (or maybe not being configured correctly to be handled) by webpack and other bundlers:
https://github.com/FredKSchott/snowpack/discussions/2450

[2022-08-03 09:06] aXenDeveloper opened #3975 "useQuery return always isLoading with true when enabled is false"
### Describe the bug

When I created `useQuery` with `enabled: false` option, `isLoading` variable is always `true`.

### Your minimal, reproducible example

https://codesandbox.io/s/react-query-enabled-7u58d5-7u58d5

### Steps to reproduce

1. Create simple query by use `useQuery`,
2. Add `enabled: false` into options,
3. Check state for `isLoading`.

### Expected behavior

State `isLoading` is `

[2022-08-03 09:29] aXenDeveloper commented on #3975
Ok, I see this https://tanstack.com/query/v4/docs/guides/disabling-queries
Its very strange...

[2022-08-03 09:30] aXenDeveloper commented on #3975
Ok, I see this https://tanstack.com/query/v4/docs/guides/disabling-queries
Its very strange...

[2022-08-03 09:30] #3975 closed

[2022-08-03 13:20] welcomemax commented on #2304
If I understood the reason correctly, the following worked for me:

`
  // workaround for https://github.com/TanStack/query/issues/2304
  // instead of useIsMutating
  const [isMutating, setIsMutating] = useState(false);
  useEffect(() => {
    return queryClient.getMutationCache().subscribe(({ type, mutation }) => {
      if (
        type === 'updated' &&
        mutation.options.mutationKey?.[0

[2022-08-04 11:02] egorovsa commented on #3975
I faced the same!
react-query version
4.0.10

[code]

It seems to me I have to downgrade till it's fixed

[2022-08-04 16:45] TkDodo commented on #3975
Yes, in hindsight, I also think that pending / success / error would be the better naming for the states. We thought about it, but decided that it would break too many cases / cause troubles upgrading.

If you have previously checked for the `idle` state explicitly, you now have to combine two checks. We can talk about exposing an extra derived flag if we find a good name for it.

often, you can:

[2022-08-04 18:07] TkDodo commented on #3975
showing data if data is there might be the best way, as this will prevent data unmounting if e.g. a background update yielded an error.

I mean, you could also _not_ mount the current thread component if no thread is selected?

However, I'm happy to add that flag if we can find a good name for "isLoading and isFetching" ... `isHardLoading` ?

Just for my understanding: how did you implement this i

[2022-08-04 18:34] parkm commented on #3975
So I have two queries, one for the thread list on the left, and one for the current thread. The current thread query is disabled until a thread has been selected.

So my logic was:
[code]

Now I just have to change that first line to `currentThreadQuery.isLoading && currentThreadQuery.fetchStatus !== 'idle'` which isn't the end of the world, just a bit bulkier.

[2022-08-04 18:59] Faithfinder opened #3981 "Overly restrictive typing for mutation callbacks (`onSuccess` etc) 2"
### Describe the bug

Right now types are defined as `void | Promise<unknown>`. This restricts returning and discarding values.

`() => void` type allows returning anything from the function, but `void | whatever` allows only "Nothing or whatever".

This means that a simple pattern of

[code]
Doesn't work if `toast` returns anything (usually the toast id for future manipulation).

### Your minimal

[2022-08-05 06:34] egorovsa commented on #3975
@TkDodo I am sorry for the sharp expression like ""Are you serious?"  at the same time I am not alone with this issue that faced a bug after update and was very upset after that.

Ok now about my case. This case is extremely simple

[code]

First of all I have to get a current user data and token's query is depending on the current user.
it means that it's possible that it will never be fired beca

[2022-08-05 13:59] christianalares commented on #936
I stumbled upon this challenge as well but not for the onSuccess callback, but for the onError callback. I needed to run this callback only once, and not for every consumer of the query. I couldn't handle the "onError"-functionality directly in the queryFn since that won't care about the retries so I came up with this workaround using ref as flag:

https://codesandbox.io/s/react-query-onsuccess-fo

[2022-08-06 05:34] fzaninotto commented on #3917
Any updates? The npm package pages still mentions nothing...

[2022-08-06 05:36] tannerlinsley commented on #3917
NPM support is still unresponsive. 🤷‍♂️

[2022-08-07 00:40] phoenixbeats01 commented on #3981
I agree making the return type `unknown` would be better, I could get to work on it.

[2022-08-08 14:34] plotka opened #3994 "useQueries not inferring type correctly, when using onSuccess and select"
### Describe the bug

When using `useQueries()` with typed individual queries, the data type is not inferred when using `onSuccess` or `select` methods, and we get an error
`Parameter 'data' implicitly has an 'any' type.`

With `useQuery()` it works fine and we can see the `data`'s type:
`(parameter) data: number`

### Your minimal, reproducible example

https://codesandbox.io/s/wizardly-ride-w58p

[2022-08-08 22:37] knyzorg opened #3999 "React-Query not returning result when running under renderHook()"
### Describe the bug

I'm duplicating my SO post, because I believe this may be a bug in react-query: https://stackoverflow.com/q/73284676/4088472

I believe I followed [the docs](https://tanstack.com/query/v4/docs/guides/testing?from=reactQueryV3&original=https://react-query-v3.tanstack.com/guides/testing) in how I implementing the test, and yet it fails due a timeout.

It always says it is loadi

[2022-08-09 00:58] system32uwu commented on #3595
Instead of asking for a failing reproduction wouldn't it be easier to provide a working one? I've tried what was suggested above but it's still failing in the production bundle. I'm using exact versions of react and react-query.

[2022-08-09 01:54] knyzorg commented on #3999
Nvm I was misusing renderHook(), and destructuring too early.

[2022-08-09 01:54] #3999 closed

[2022-08-09 03:51] knyzorg opened #4002 "uneInfiniteQuery breaks in Jest without a call to result.isFetching"
### Describe the bug

A call to `result.isFetching` seems to be required to make my test work. Accessors should not have side-effects of this kind.

Video of the issue: https://youtu.be/UpQccrG1Hm0

Code:

[code]

[code]

### Your minimal, reproducible example

its unit tests

### Steps to reproduce

Try the code in jest

### Expected behavior

Should not timeout

### How often does this bug happe

[2022-08-09 04:36] tmokmss opened #4003 "misleading document after v4 release"
### Describe the bug

Hi I'm very new to React Query and I found a misleading description in README.

https://github.com/TanStack/query/blob/e6df356edd5ce3d9d93eabbc7c15af68cdd2eb30/README.md?plain=1#L31-L34

According to release pages, v4 is not in beta any more and the link to v4 document should be https://tanstack.com/query/v4

### Your minimal, reproducible example

n/a

### Steps to reproduce

[2022-08-09 07:02] FredricW opened #4004 "ReactQueryDevtools v4: Unable to find required version for "react" in description file"
### Describe the bug

After upgrading to v4 (and going through the migration guide) we get this warning (from webpack-dev-server):

"Compiled with problems:

WARNING in shared module react

No required version specified and unable to automatically determine one. Unable to find required version for "react" in description file (/path/to/project/node_modules/@tanstack/react-query-devtools/package.jso

[2022-08-09 07:53] TkDodo commented on #4004
yeah I think that's what we need to do, similar to how we do it for `react-query` itself:

https://github.com/TanStack/query/blob/9e47882482f5af58eecabb7d3312d5f179ebf487/packages/react-query/package.json#L50-L52

[2022-08-09 09:53] sventschui opened #4007 "React query devtools are not importable in Node.JS"
### Describe the bug

It seems the react query devtools are currently not node importable. Install the devtools package and run  `import("@tanstack/react-query-devtools")` in a node REPL. This fails.

It can be fixed with a `package.json` in the `build/esm` folder containing `{ "type": "module" }`, not sure this is a viable fix though.

[code]

### Your minimal, reproducible example

see descripti

[2022-08-09 09:57] TkDodo commented on #4007
devtools are browser specific. why would you import them in node?

[2022-08-09 10:32] FredricW commented on #4004
Seems like there is already a PR addressing this: https://github.com/TanStack/query/pull/4000

[2022-08-09 19:46] yashiel commented on #4004
Got the same error for me as well

[2022-08-10 04:06] yashiel commented on #4007
Today i also got the same issue, not sure if this is the same issue,

[code]

[code]

[2022-08-10 06:24] lemonjp commented on #3705
I have exact same issue. :(

[2022-08-10 09:18] ursnj opened #4015 "React query v4 is not triggering component refresh properly where as V3 is doing absolutly fine"
### Describe the bug

After debugging more than a week i realized v4 is somehow not triggering updates to my components in React Native app, with the same setup v3 is working absolutly fine.

After updating data in cache with setQueryData it should trigger refresh in component but some how its not refreshing component with latest cache data

Not able to create a repro snack as it happening few pla

[2022-08-10 15:20] leotm commented on #4003
was wondering why react-query-beta.tanstack.com -> react-query-v3.tanstack.com

thx for raising and linking tanstack.com/query/v4

[2022-08-10 15:22] leotm commented on #4003
doesn't look updated in
- https://github.com/TanStack/query/pull/3998
- https://github.com/TanStack/query/pull/3969

would be great to merge those in and follow this up w a PR too

[2022-08-10 15:59] matthieugicquel opened #4017 "V4 does not log anything in react-native even when not in production"
### Describe the bug

When using react-query v4 with react-native, nothing is logged to the console, even when during development.

For instance when a query function throws an error, the error is not logged.

### Your minimal, reproducible example

https://snack.expo.dev/@matthieugc/react-query-v4-no-logs-repro

### Steps to reproduce

Have a query that throws an error

### Expected behavior

Exp

[2022-08-10 21:49] TkDodo commented on #3972
You can just disable the button while the query is in loading state. The button will then be disabled initially while the query has is disabled, and also while the query is initially fetching...

[2022-08-11 02:03] Pika-Pool commented on #3972
@TkDodo, thank you, but my use case is a bit complicated.

I want to let the user submit a form using that button with a mutation. So the button should initially go into loading state when the mutation loads, not before that.

The query is enabled once the mutation is successful, as it depends on the returned data.  But the button should show loading state until this query has loaded too, as the d

[2022-08-11 04:39] nhducit commented on #4015
Can you give us a reproduce repo? If the repro doesn't use any external native dependencies then you can use https://snack.expo.dev/ to quickly create one

[2022-08-11 05:14] TkDodo commented on #4003
Please PR it

[2022-08-11 07:35] mazenkhalil opened #4019 "isLoading is true when the query is not enabled"
### Describe the bug

With V3, when the query is disabled, isLoading resolves to **false**. Upon upgrading to V4, isLoading resolves to **true** when the query is disabled.

[code]

### Your minimal, reproducible example

NA

### Steps to reproduce

1. Create a query
2. Set enabled = false
3. observe isLoading value

### Expected behavior

isLoading should resolve to false as the query is not enab

[2022-08-11 07:36] TkDodo commented on #4019
has been reported before, and it's a documented breaking change.

[2022-08-11 07:36] #4019 closed

[2022-08-11 07:37] alvesvaren commented on #3965
This happens to me too

[2022-08-11 12:59] diegocasillas commented on #3975
@TkDodo we have also found issues with this new behaviour of `isLoading`.

What about including a new boolean flag `isDisabled`? Then `isLoading` would be `false` in cases where the query is disabled. In my opinion, it's a bit counter intuitive that a disabled query will return `isLoading` as `true`, because I'm not expecting it to load 😅

[2022-08-11 13:36] TkDodo commented on #3975
a query itself cannot be disabled. disabled on useQuery only means that _this observer_ does not fetch data for itself. you can have two observers - on enabled one disabled, then the query will be fetching.

you can also have `data` on a query, because you prefetched it, hydrated it, restored it from localstorage or passed it as `placeholderData`/ `initialData`. in all these cases, the query would

[2022-08-11 13:54] olliejm commented on #3965
I'm not sure why it didn't happen previously to me with v3 as it seems both query v3 and v4 are using the same version of the broadcast-channel package

It does appear though that the problematic code in question is no longer in the latest version of broadcast-channel (4) so perhaps updating that package could be one solution

If I find some spare time I can try to do that and see if it solves the

[2022-08-11 14:03] diegocasillas commented on #3975
Thanks for your quick response! ✨  It makes a lot of sense and I agree that it's a mindset problem in our case. I'm still not sure what would be the best way of helping developers understand this change and migrate to this new version while keeping the behaviour we had previously with `isLoading`. I have a gut feeling that more people will find this an issue before they understand the underlying c

[2022-08-11 14:22] TkDodo commented on #3975
I understand, and by now I think we should've just renamed `loading` to `pending` to make it more obvious, and maybe keep the `isLoading` flag around that also includes `isFetching`. But yeah, more feedback on the beta would've been good. Now it's too late :(

We can do: `isInitialLoading: isLoading && isFetching` but then you'd still need to check for that. It's the best I can come up with right

[2022-08-11 15:08] TkDodo commented on #4017
thanks for the analysis. @DamianOsipiuk is this another thing for our bundling changes? I know you mentioned that we should remove the `main` field altogether ?

[2022-08-11 15:10] jxbaker-sep opened #4022 "Unable to test ReactQuery using React 18"
### Describe the bug

- `react-hooks-testing-library` version: n/a, using React 18 and @testing-library/react 13.3
- `react` version: 18.2
- `react-dom` version (if applicable): 18.2
- `react-test-renderer` version (if applicable): n/a
- `node` version: v16.16.0
- `npm` (or `yarn`) version: 8.11.0

### Relevant code or config:

[code]

### What you did:

I attempted to implement and run the exampl

[2022-08-11 15:11] TkDodo commented on #3882
let's try to keep discussion about ESM support here :)

I tried out `4.0.11-beta.0` and it works fine in our simple example, but that one uses `vite`:
- https://codesandbox.io/s/amazing-carson-7fqsfe

There have been reports on discord that this version "breaks the app", but we'd need more info and try out more bundlers I guess.

cc @DamianOsipiuk

[2022-08-11 15:19] sachinraja commented on #3882
@TkDodo Yeah if they share reproductions or at least error messages, I can look into it.

[2022-08-11 15:20] TkDodo commented on #4022
that's because `renderHook` from `react-hooks/testing-library` does _NOT_ work exactly like the one from `react-hooks-testing-library`.

It would be good to update the docs to be explicit about this if you want.

You'd need:

[code]

`react-hooks-testing-library` allows you to return a `boolean` from the callback, while `react-hooks/testing-library` wants you to return a Promise.

you can see a wo

[2022-08-11 15:25] jxbaker-sep commented on #4022
That worked, thank you. I will PR the docs.

[2022-08-11 15:25] #4022 closed

[2022-08-11 15:35] DamianOsipiuk commented on #4017
Yeah. I think that many bundlers prefer `browser` field when available (webpack docs). And it should not be an UMD build, but browser specific build. IE. That does not contain any node specific code.
So i think we need to remove it so those bundlers will fall back to other entries.
I will be able to do that begining of next week, unless someone else makes that so we could do another pre-release.

[2022-08-11 16:54] jxbaker-sep commented on #4022
PR here: https://github.com/TanStack/query/pull/4023

[2022-08-11 18:14] #2741 closed

[2022-08-12 03:56] petejodo commented on #2810
I do think context sharing is broken and that's because the [QueryClientSharingContext](https://github.com/TanStack/query/blob/main/packages/react-query/src/QueryClientProvider.tsx#L15) is created across all instances of react-query and so the sharing context itself isn't shared. That context is the way the value passed in for [`contextSharing` in QueryClientProvider](https://github.com/TanStack/q

[2022-08-12 07:26] #4004 closed

[2022-08-12 07:48] TkDodo commented on #3972
please show a codesandbox reproduction so that I can look at and understand the issue

[2022-08-12 07:49] TkDodo commented on #4015
closing as there is no reproduction. feel free to reopen once you have a reproduction.

[2022-08-12 07:49] #4015 closed

[2022-08-12 13:33] TkDodo commented on #4003
closing the issue, please just open a PR that updates the readme file.

[2022-08-12 13:33] #4003 closed

[2022-08-12 13:57] TkDodo commented on #3966
I can confirm that the mutation is running, it is resolving and data is put into the cache. You can see that here in the log statements and if you click the button after the mutation is finished, the mutationCache is logged.

https://codesandbox.io/s/relaxed-wilson-ntzbtt?file=/src/provider.js

So it must be something on the react hooks layer. In v4, we are using `useSyncExternalStore`, and we're

[2022-08-12 14:08] TkDodo commented on #3943
could this be related to #4017 and thus eventually to #3882  ?

If you see `null` being rendered, my guess is that the wrong entry point is being picked up.

[2022-08-12 14:09] #3726 closed

[2022-08-12 14:10] TkDodo commented on #3839
gonna close this for as I don't think there is something we can or need to do.

[2022-08-12 14:10] #3839 closed

[2022-08-12 14:11] TkDodo commented on #3965
it might have something to do with bundling.

that would be great!

[2022-08-12 14:14] TkDodo commented on #3994
@artysidorenko maybe you can look into this?

[2022-08-12 14:18] TkDodo commented on #4002
in v4, we use property tracking on the result object to make sure your components re-render when something they are accessing is changing. However, I don't see how this would make your test work / not work in this case.

What I am seeing is that the useEffect looks weird because the `[query]` dependency will change on every render, thus the effect will run on every render.

anyhow, I can't tell mu

[2022-08-12 14:25] TkDodo commented on #3981
so `Promise<unknown> | unknown` would be the proposed type?

[2022-08-12 14:27] TkDodo commented on #3916
it's fixed in the beta we just released:

https://unpkg.com/browse/@tanstack/react-query-devtools@4.0.11-beta.0/build/umd/index.development.js

there are some other issues in there though, so it will be available once we generally fix this :)

[2022-08-12 14:27] #3916 closed

[2022-08-12 14:41] Faithfinder commented on #3981
Sure, though that's technically no different than just `unknown`.

Honestly, it feels like a Typescript bug, but I'm not ready to champion a cause with Typescript. And they might think it's a feature.

[2022-08-12 15:54] TkDodo commented on #3691
I'm going to close this as an upstream issue with `react-native-testing-library` as shown here
- https://github.com/callstack/react-native-testing-library/issues/1030

feel free to re-open if there is something we can do on react-query side

[2022-08-12 15:54] #3691 closed

[2022-08-12 15:58] TkDodo commented on #936
@christianalares use the global onError callback of the query cache then?

https://tanstack.com/query/v4/docs/reference/QueryCache#global-callbacks

[2022-08-12 16:24] christianalares commented on #936
Oh, of course, that’s a good idea. Is is also possible to check which query that failed in the global onError?

[2022-08-12 17:36] sventschui commented on #4007
The use case is that we have a library that includes both a re-usable baseline for our microfrontend (browser) as well as some configuration builders used in the microfrontend build process (node). Sure one could argue that this should be split up into two separate packages but things will be tree-shaken away for browser builds

[2022-08-12 17:46] TkDodo commented on #3917
the `latest` tag now points again to 3.39.2.

https://twitter.com/TkDodo/status/1558147386442121217

It's all back to normal if you go to: https://www.npmjs.com/package/react-query

[2022-08-12 17:46] #3917 closed

[2022-08-12 17:50] TkDodo commented on #2810
I'm honestly pretty unsure what contextSharing is and what it's supposed to be doing. Is it necessary / useful to anyone? Isn't the new feature in v4 enough where you can pass a custom context around? If so, I would be in favour of deprecating it ...

[2022-08-12 18:07] TkDodo commented on #3882
@sachinraja I can confirm that `4.0.11-beta.0` doesn't work with react-scripts v4. Here is an (older) repo of mine that uses v4 of react-scripts, and I've merely switched from `4.1.0` where it works (but doesn't render devtools at all as per the issue) to the beta:

- https://github.com/TkDodo/testing-react-query/blob/feature/breaking-react-query/package.json#L16-L17

what I'm seeing when I run it

[2022-08-12 18:08] TkDodo commented on #3882
Another thing I found out with @DamianOsipiuk is that the size of the beta is 5x times too large:

https://bundlephobia.com/package/@tanstack/react-query@4.0.11-beta.0

I think @DamianOsipiuk mentioned that react-dom is included because it wasn't specified as external. Just wanted to note all known issues here :)

[2022-08-12 18:09] TkDodo commented on #3981
yeah let's still just go for `Promise<unknown> | unknown` please :)

[2022-08-12 18:41] TkDodo commented on #4007
okay it seems that node picks up the esm build even though it cannot import esm? I'm lost with all of these bundlers / ways to import things lol. I just hope that all the other bundling issues around the devtools will fix this one as well.

[2022-08-12 18:42] #3981 closed

[2022-08-12 18:42] TkDodo commented on #936
sure, the queryKey is passed to it.

[2022-08-12 19:24] sventschui commented on #4007
Node.js can actually handle ES modules but it thinks `build/esm/noop.js` (loaded via `import("@tanstack/react-query-devtools") or import {} from "@tanstack/react-query-devtools"` is a CJS module as the `package.json` does not include a `"type": "module"` declaration. (Note `require("@tanstack/react-query-devtools")` works as you already include a conditional import for `require`).

I could think o

[2022-08-12 23:33] sachinraja commented on #3882
I've seen that Provider error, it has to do with one package importing the cjs format and the other package importing the esm format.

[2022-08-13 04:16] tmokmss commented on #4003
I'm not yet very familiar with React Query to come up with an appropriate description for this change so I'll leave this for someone familiar with it :)

[2022-08-13 06:14] TkDodo commented on #4007
I'll leave this to the experts @DamianOsipiuk @sachinraja

[2022-08-13 07:17] TkDodo commented on #947
once you set `enabled: false`, you opt out of many things. `enabled: false` basically means that the query is _not_ ready to run. Lost of people use it conditionally, like: `enabled: !!id` to not fetch while the id is not there yet. It will automatically enable itself once `id` is ready.

Hence it is very much on purpose that invalidation skips disabled queries and this will not change.

For your

[2022-08-13 10:55] TkDodo commented on #3004
we're now using `vite` instead of `react-scripts`, which makes things run much smoother. This should be fixed - I was able to run the examples locally. Please reopen if it still doesn't work for you.

[2022-08-13 10:55] #3004 closed

[2022-08-13 11:02] TkDodo commented on #3461
fixed with: c08c0a1cd304a7e42e792d1d91fb3da7a84b4704

[2022-08-13 11:02] #3461 closed

[2022-08-13 12:52] skingston91 opened #4029 "V4 upgrade module has no exports"
### Describe the bug

VS code has no problems with the typing but when I run the project I get errors related to the imports to react query:

[code]

Code
[code]

### Your minimal, reproducible example

updated with fresh example - https://github.com/skingston91/reactqueryv4issuereproduction
### Steps to reproduce

Upgrade v3 React query to v4 Tanstack query  (after fixing the general type + code

[2022-08-14 06:17] TkDodo commented on #4029
The TypeScript playground just needs a bit of time to download everything, this is absolutely normal.

So please show a reproduction repository or codesandbox where you use webpack and it shows the same errors, thanks.

[2022-08-14 07:11] skingston91 commented on #4029
@TkDodo Apologises, its a strange error I wouldn't have expected to see on the typescript sandbox even when loading I figured.

Just created a repo based off my code with everything stripped down.
https://github.com/skingston91/reactqueryv4issuereproduction

[2022-08-14 09:18] TkDodo commented on #4029
not really sure what this warning is about. There is a lengthy issue here:
- https://github.com/webpack/webpack/issues/7378

with a bunch of workarounds. It seems that webpack shows this warning because we export the type and the value as the same thing (because it's a class) rather than export value and type separately.

I have no intention of doing anything here to please webpack to be honest.

[2022-08-14 10:46] skingston91 commented on #4029
According to that thread  it seems like it would please Typescript (according  to Sokra/Webpack) rather than Webpack. I tend to stick solely functions rather than classes so i'm not an expert in the matter. But I'm guessing they couldn't be the 'same thing as such', doesn't typescript strip all the typing out because it wants to resolve to pure js and ts is just a wrapper, so in removing the types

[2022-08-14 10:51] TkDodo commented on #4029
So we're just doing:

[code]

classes have an interface and can be used as runtime. I wouldn't know how to "separate" the exports here. If you want to give this a shot, feel free to open a PR.

[2022-08-14 13:08] saeedghasemi72 commented on #171
Hi guys, I read comments but i'm don't understand how to use react query with live data in socket .
I use react-query with actioncable for handle socket data, I can't use useMutate and useQuery because that didn't return any data, and I can't use setQueryData because this method not observable and my component didn't get new data. :(
please help me

[2022-08-14 14:01] TkDodo commented on #171
have you read:

https://tkdodo.eu/blog/using-web-sockets-with-react-query

[2022-08-15 00:31] artysidorenko commented on #3994
Hi @plotka,

This is a limitation of the current type logic I’m afraid. You'll need to give TS a hint by explicitly typing the callback param.

e.g.

[code]

It's not quite as gung-ho as casting, and can still help you maintain type safety: if you were to give it a `string` type it will complain at you as expected. It just can’t do the inference upfront.

**Background**: `useQueries` is using a re

[2022-08-15 04:44] saeedghasemi72 commented on #171
@TkDodo Yeh I Read this blog, and thank you for this awesome articles, but I think that can't help me.
all of my data come from socket therefore invalid query and other solution that related to api call can't help me.
and when I use setQueryData and  data in other side when getQueryData I can't get updated data becuse this not subscription method

[2022-08-15 05:38] TkDodo commented on #171
If you don't have a regular rest api endpoint, don't try to integrate it with react query I'd suggest

[2022-08-15 06:12] saeedghasemi72 commented on #171
@TkDodo Yeah, that's an idea, but I want use a trick, instead setQueryData I want use useQuery with an empty promise function, with this solution I have last data that from socket, what you think?

[2022-08-15 10:16] plotka commented on #3994
Thanks for the detailed response @artysidorenko. Although, what you mentioned works with `select` but not with `onSuccess`, as can be seen here:
![image](https://user-images.githubusercontent.com/6666010/184616648-2f3a7718-d3f2-4c30-8344-1292e01a725c.png).

As a workaround, in my code, I  am typing the `UseQueryOptions` explicitly, but still need to type it in the `select` and `onSuccess`,  like s

[2022-08-15 10:53] cdpark0530 commented on #2304
I got into this today. My current workaround is
[code]
where you need to pass variables through `meta` option. (which is very vulnerable in typing, and not really recommended as other developers wouldn't think that's what `meta` should be used for). But for this case where I anyway save `address` in a global state, I think it's worth to do.

[2022-08-15 12:35] Fogh commented on #3943
I have the same problem in v4. The Dev tool icon is not showing up

[2022-08-15 15:16] anglee commented on #3975
I found this issue after running into the same issue and spending time debugging it. And tbh, I also had the same 'are you serious?' thought.

For a breaking change like this, I didn't find the word 'enabled' used in the doc [Migrating to React Query 4]( https://tanstack.com/query/v4/docs/guides/migrating-to-react-query-4). It would be helpful to include explicit instructions about how to migrate

[2022-08-15 15:17] anglee commented on #4019
For others who landed on this issue, here is the other thread: https://github.com/TanStack/query/issues/3975

[2022-08-16 01:21] neemski commented on #3965
I'm also seeing the same issue reported in my Next.js app:

[code]

by simply doing:
[code]

CodeSandbox repro link: https://codesandbox.io/s/react-query-broadcast-client-bug-5dt9so?file=/pages/_app.js

[2022-08-16 06:34] #3965 closed

[2022-08-16 06:38] TkDodo commented on #3742
we only sync the `QueryState` between tabs; this is the same interface that is used to hydrate from the server or to persist in external storages:

https://github.com/TanStack/query/blob/357ec041a6fcc4a550f3df02c12ecc7bcdefbc05/packages/query-core/src/query.ts#L38-L50

Every other prop returned from `useQuery`, including `isFetchedAfterMount`, is derived per observer:

https://github.com/TanStack/

[2022-08-16 06:38] #3742 closed

[2022-08-16 07:00] TkDodo commented on #3975
It really depends on how you've checked for the `idle` state before. Did you use the `isIdle` flag`? Did you use `status === 'idle'` ? Did you check for data availability and then fall back to rendering `loading...` if there is no data or error?

[2022-08-16 10:27] filoozom commented on #3966
I think this was actually just fixed in `preact` `v10.10.3` (https://github.com/preactjs/preact/commit/b9f6446e9289591fed05b092aa51a6c74a733702): https://codesandbox.io/s/blissful-currying-xkykle?file=/src/provider.js

[2022-08-16 11:07] TkDodo commented on #3966
nice 👍

[2022-08-16 11:07] #3966 closed

[2022-08-16 16:19] RichardJuchelka opened #4043 "Query with { notifyOnChangedProps: [] } still re-renders on cache update."
### Describe the bug

We need to prevent a query from re-rendering. We are setting query options `{ enabled: false, notifyOnChangedProps: [] }` once the query is fetched. We mutate the same data in another component. Despite the options being set, the query still re-renders.

### Your minimal, reproducible example

https://codesandbox.io/s/react-query-forked-8gly22?file=/src/App.tsx

### Steps to

[2022-08-16 19:03] TkDodo commented on #4043
I don't think that's how it works.

1) You render `Todo` and create an observer with `undefined` options.
2) Then, you run an effect that sets a ref. But at that point, the observer is already created (observing the `data` property, and the writing to the ref doesn't trigger a re-render.
If I `console.log(useTodoOptions)`, I can see that only `undefined` is logged.
You can also see in the devtools

[2022-08-16 19:03] #4043 closed

[2022-08-17 09:06] TkDodo commented on #4043
I'm not sure what the use-case is or what you are trying to achieve. Generally, you cannot unsubscribe as long as the component is mounted. The `useQuery` hook makes sure that you see on the screen what is in the cache - that is the desired behaviour.

You can try to trigger fetching outside of the component with `queryClient.prefetchQuery` and then have the component read via `queryClient.getQuer

[2022-08-17 10:03] RichardJuchelka commented on #4043
Our use case for this is a page containing a very huge interactive form with autosave feature. When a user enters the page, an entity is fetched and set as an initial value "editedEntity" into the global store. From now on globalStore.editedEntity is "user write only". Conflicts are solved by the user on a granular level. I am looking for a way to prevent this page from resetting the form on useFe

[2022-08-17 10:46] TkDodo commented on #4043
I see. So you can create a `QueryObserver` manually - this is basically what `useQuery` is doing under the hood - and then call `unsubscribe()` whenever you want. `useQuery` ties this to the component lifecycle, but you don't necessarily have to.

[2022-08-17 11:14] amerllica commented on #3460
The offline example link has been changed to: https://tanstack.com/query/v4/docs/examples/react/offline

[2022-08-17 17:11] amerllica opened #4047 "React native query persist"
### Describe the bug

I have implemented the `react-query` persist configuration on a **React Native** project and persist the Auth data, then I realized sometimes the user has been being kicked out and I have put some debugging there, I'm using `AsyncStorage` and it works well, the cause of this behavior is `react-query` persist configuration, I don't know maybe some of those functions have a bug

[2022-08-17 20:08] broadhu2 commented on #2226
In my case, this error message was related to an improper `jest.mock` that I had added earlier.

The fix was to change this:
[code]

to the following:
[code]

My initial block of code overrides the entire module, when my intent was just to override the `useQuery` function and retain the rest. Hope this helps someone else who might be stuck on this!

[2022-08-17 20:11] TkDodo commented on #4047
you're not using the `PersistQueryClientProvider` as far as I can see. The docs even outline why you shouldn't use `persistQueryClient` directly:
https://tanstack.com/query/v4/docs/plugins/persistQueryClient#usage-with-react

[2022-08-17 20:40] amerllica commented on #4047
Thanks for your quick answer @TkDodo, I have followed up [React Native guids](https://tanstack.com/query/v4/docs/plugins/createAsyncStoragePersister) which is only using `persistQueryClient`, Even though I have tried to use `PersistQueryClientProvider` but I got exactly same behavior, Allways the AsyncStorage contains the `react-query` data but my key sometimes became empty and this makes the appl

[2022-08-17 20:54] amerllica commented on #4047
Dear @TkDodo, I just tested my app again by using `PersistQueryClientProvider`, after a while by open-reopen and reloading the app the cached data for auth key was immediately removed, I don't know why it happened but definitely, the bug is on `react-query` persisting side not `AsyncStorage`, if you think you need my re-production just give me a shout here and I will create a Github repo and put h

[2022-08-18 12:08] TkDodo commented on #3882
@DamianOsipiuk I tried the latest beta (4.0.11-beta.4) with `react-scripts` v4 and it now fails with:

![Screenshot 2022-08-18 at 14 06 25](https://user-images.githubusercontent.com/1021430/185390801-70f56d56-27af-48d3-bda1-f127cb40eb9c.png)

[code]

[2022-08-18 12:20] DamianOsipiuk commented on #3882
Hmm it seems that it now complains about `esm` + `cjs` interop. At least it's picking up correct entry right now.
Will take a look at that.

[2022-08-18 16:27] vanniewelt commented on #4017
Same problem here, except with React JS.

[2022-08-18 16:49] tyko0x opened #4052 "`setQueryData` does not work for queries with custom `queryKeyHashFn`"
### Describe the bug

If a query has a custom `queryKeyHashFn`, then trying to update its cached value with `queryClient.setQueryData` does not work.

It seems that whenever `setQueryData` is called, the default hash function is being used to identify the query no matter what, even if the query has specified its own hash function. This behavior is the same whether it's the default react query hash

[2022-08-18 19:51] TkDodo commented on #4052
yeah that's a good find!
`setQueryData` does take `options` as 3rd argument, but we would need to be able to pass:
- `queryKeyHashFn`
- `queryHash`

to accommodate this use-case.

I'm not sure if we should mangle the current options, which are of type `SetDataOptions`, to add these two fields 🤔

https://github.com/TanStack/query/blob/454c58481f6f5d5c3e182e6e418d65fdb4a9ec1f/packages/query-core/src

[2022-08-18 19:52] TkDodo commented on #4047
yeah it seems like we haven't updated the guide for `createAsyncStoragePersister`. Would be good if you could do that?

Can you change your expo snack reproduction to include `PersistQueryClientProvider` so that I can take a look at that please?

[2022-08-18 20:02] TkDodo commented on #4047
I think I can already see the issue, you are using:

[code]

but you are not providing a queryFn, and there is also no default query function defined. When we click the button, you call `setQueryData`, which is fine, however, background refetches might still happen, e.g. if you focus the window or if you reload the page, in which case we will hydrate from the async storage, but then trigger a back

[2022-08-18 20:29] DamianOsipiuk commented on #4007
@sventschui could you check if https://github.com/TanStack/query/releases/tag/v4.0.11-beta.5 helps with that?

[2022-08-18 20:35] DamianOsipiuk commented on #4017
@matthieugicquel could you check if problem persists in https://github.com/TanStack/query/releases/tag/v4.0.11-beta.5?

[2022-08-18 21:30] matthieugicquel commented on #4017
@DamianOsipiuk The logging problem is fixed in this release, thanks!

(Note for other people who may try to install it: I had to manually install the right version of query-core since it would resolve to 4.2.1 instead of the beta version)

By the way I noticed that the `.native` files in the codebase are still not getting included, which is logical since react-query come already bundled.

For inst

[2022-08-19 06:50] TkDodo commented on #4017
yeah I fixed the release script, but it still depends on version with `^`, so:

[code]

and `4.2.1` does satisfy that. I think I'll change this again to depend on strict versions, so that downgrading is also possible. Thanks for pointing that out.

[2022-08-19 08:31] doliG opened #4054 "Deadlink in doc"
### Describe the bug

All the example of the doc are broken. See https://react-query-v3.tanstack.com/examples/simple

I think it's because the structure in github repo changed from `tree/main/examples/simple` to `tree/main/examples/react/simple`

[2022-08-19 08:40] TkDodo commented on #4054
yeah the examples point to:
`react-query/tree/main/examples/simple`

for v3, they need to point towards the v3 branch. Can you contribute a PR to the v3 branch to fix it please?

[2022-08-19 09:49] vanniewelt commented on #4017
I tried to install `^4.0.11-beta.5` in React JS (I'm using React 18.2.0 & Next 12.2.5) and still don't get any logs in development mode. Devtools are showing up though. Perhaps its not even related with the React Native problem. Should I create a new issue?

[2022-08-19 10:06] TkDodo commented on #4017
@vanniewelt can you show this in a codesandbox reproduction please?

[2022-08-19 10:24] guim1993 commented on #824
I'm having a similar problem.
The server is returning status 202, as the data is not ready yet.
And since 202 is success status, my idea was to return an error in onSucces, and then use the retry with delay when this happens, until the server responds with 200.
But I haven't found a way to simulate an error when I have a success status.

[2022-08-19 10:28] DamianOsipiuk commented on #4017
Did it work previously? How was it attached at build time? @TkDodo

Make sure you also manually specify
`"@tanstack/query-core": "^4.0.11-beta.5",`
Cause newer version is available and it installs the newest one.

[2022-08-19 11:19] vanniewelt commented on #4017
@TkDodo Unfortunately, I wasn't able to reproduce this in codesandbox with simple react app. However, I created demo repository with Next.js: https://github.com/vanniewelt/react-query-no-logging-error-demo

@DamianOsipiuk I tried it and no luck

[2022-08-19 11:29] TkDodo commented on #824
you need to return the error from the queryFn:

[code]

callback functions are not the place to do data transformation!

[2022-08-19 11:35] DamianOsipiuk commented on #4017
I think the issue lies here:

![image](https://user-images.githubusercontent.com/28151934/185609879-8d7f0fa1-fd68-4ea0-bbf0-908a57718985.png)

So it's due to `react-query` having a dep on `4.2.1` due to `^`

@TkDodo

[2022-08-19 11:38] TkDodo commented on #4017
I do not know, but this seems to be a separate issue. Can we move it out of this discussion please?

You actually have to specify exact versions. This beta thing is tricky because we have already released 4.2.1, and if you say you want something that is "compatible with 4.0.11-beta.5", you will still get `4.2.1`, because it's "larger than" the beta and it thus satisfies the constraint.

you can ea

[2022-08-19 11:39] TkDodo commented on #4017
@DamianOsipiuk we can release a new beta with the fixed release script if you think it matters? It should have strict versions as dependencies.

[2022-08-19 11:40] DamianOsipiuk commented on #4017
@TkDodo Yes, we can also bump the version of beta tag forcefully via actions menu to be greater than current main version.
Whatever works for you.

[2022-08-19 12:00] TkDodo commented on #4017
okay, `v4.3.0-beta.0` incoming

[2022-08-19 12:25] TkDodo commented on #3943
@Estevete @Fogh can you please try it out with `v4.3.0-beta.0` ?

[2022-08-19 16:23] YZahringer commented on #3943
@TkDodo on my side, the web app crash with the `v4.3.0-beta.0`
![image](https://user-images.githubusercontent.com/4254116/185663119-16b02a99-36f0-4990-8a0d-1da6ff6971ff.png)

Works well in `4.0.10`, but without the DevTools.

[2022-08-19 16:34] TkDodo commented on #3943
Which bundler are you using? Seems to be the same as:
- https://github.com/TanStack/query/issues/3882#issuecomment-1219413217

[2022-08-19 18:04] vanniewelt commented on #4017
@TkDodo Ah I see, thanks for explanation.

After upgrading to `v4.3.0-beta.0` it works! So we can probably close the issue.

[2022-08-19 19:17] paustint commented on #3975
Our team has been struggling with this as well and had had to work around this - normally by doing something like `(isLoading && isEnabled)` when deriving the true is loading state.

We have not looked into all the other properties to see if there is an easier way - but we were caught off guard that a disabled query shows up in a loading state and would love a simple boolean that we can use to kno

[2022-08-19 20:06] rcfrias opened #4055 "Parallel Queries mess up with useIsFetching"
### Describe the bug

While performing 2 requests in parallel, useIsFetching is being used to present a busy overlay.  isFetching gets stuck with "1" pending query, so overlay will stay because of the concurrency problem.  Changing it to serial/dependent, fixes the issue, but it brings a bad user experience.

### Your minimal, reproducible example

Not needed

### Steps to reproduce

use useQuery

[2022-08-19 20:24] TkDodo commented on #4055
Please show a minimal reproduction, preferably with codesandbox and TypeScript.

[2022-08-20 03:45] Shaddix opened #4056 "Breaking change: isLoading now true for disabled queries"
### Describe the bug

In v3 (`react-query`) if query is disabled (and has no data) `isLoading` was `false`, in v4 it's `true`.

This is partially covered in [the idle state has been removed](https://tanstack.com/query/v4/docs/guides/migrating-to-react-query-4#the-idle-state-has-been-removed) migration section, but I still want to double-check that this is an intended change and that I correctly un

[2022-08-20 05:00] TkDodo commented on #4056
You haven't seen all the other issues about this that were opened before?
- https://github.com/TanStack/query/issues/4019
- https://github.com/TanStack/query/issues/3975
- https://github.com/TanStack/query/issues/3925

[2022-08-20 05:00] #4056 closed

[2022-08-20 16:45] YZahringer commented on #3943
I use webpack 4.46.0 with Expo CLI

[2022-08-20 19:36] skingston91 commented on #4029
I think its beyond the Realm of my experience or rather the free time I could dedicate to figuring it all out sadly! If it becomes that I need the v4 for a critical fix/feature (or for the actual work project) rather than just trying to update my dependencies then I'll try and give it a go.  Hopefully no-one else has the same issue, thanks for your help/advice!

[2022-08-20 19:36] #4029 closed

[2022-08-21 09:16] nucleartux commented on #1523
Hello,

I wrote drop in replacement for useQueries with suspense support. It is far from perfect (we accessing private observers property) but it works! So you can use it right now.

I hope someone can refactor code and make PR.

[code]

[2022-08-21 16:56] alimehasin opened #4062 "React query doesn't work if the wifi is off"
### Describe the bug

This issue might be a little bit weird, but react-query requires a wifi to be on to function correctly, if the wifi is off `isLoading` flag stays `true`, now this is absolutely OK and not a bug for the most users who uses react-query to send HTTP requests to fetch data from the server, however we want use react-query in desktop application that doesn't require internet connec

[2022-08-21 17:26] TkDodo commented on #4062
Set `networkMode: 'always'` ?
https://tanstack.com/query/v4/docs/guides/network-mode#network-mode-always

[2022-08-21 17:34] alimehasin commented on #4062
Ohhh, I haven't seen this, thank for your response

[2022-08-21 17:34] #4062 closed

[2022-08-21 20:40] amerllica commented on #4047
@TkDodo, This is my new `re-production` link: https://github.com/amerllica/rq-persist-issue-reproduction

And another thing that you have mentioned: I think I made a mistake from scratch, the `react-query` has the main concept, **keep the backend state in frontend**, but _user is authorized_ vs _token is validated_ are different things. my base mistake was that I have thought _user is authorized_

[2022-08-22 05:33] TkDodo commented on #4047
Yes you are correct, that is not server state. 👍

[2022-08-22 05:33] #4047 closed

[2022-08-22 17:11] DamianOsipiuk commented on #3882
So far when i have played with it i was unable to make it work for webpack 4 while maintaining support for other bundlers.

There is additional config needed for webpack 4 to make it work, which will be a pain for `react-scripts` users due to webpack config being inaccessible without third party tools.

I have one more idea which i will test when i will have some time,  via exports.node.

All othe

[2022-08-22 22:01] aboqasem commented on #1552
Hi @TkDodo! Could you please elaborate more on how exactly to use `superjson`? Replacing `JSON.stringify` with `superjson.stringify` would yield:

[code]

[2022-08-23 07:57] TkDodo commented on #3882
can I ask all interested parties to please try out the latest and greatest beta version:

https://github.com/TanStack/query/releases/tag/v4.3.0-beta.3

on my create-react-app v4, I see no problems now:
- app works in dev mode
- devtools show up
- devtools are stripped from production builds 🎉

[2022-08-23 08:05] TkDodo commented on #3882
One thing that doesn't work is the lazy import of the devtools in production. looking at our `exports`, there should be a `.production` entry point:

https://github.com/TanStack/query/blob/2452ec1d81a20bd8990ee6f3dc8a04e4ad560b31/packages/react-query-devtools/package.json#L15-L34

However, if I'm trying:

[code]

I'm getting the error:

[code]

I tried this with create-react-app v4 and v5

[2022-08-23 08:06] #4017 closed

[2022-08-23 08:08] TkDodo commented on #4007
@sventschui this works for me now in `v4.3.0-beta.3`

- https://github.com/TanStack/query/releases/tag/v4.3.0-beta.3

[code]

[2022-08-23 08:08] #4007 closed

[2022-08-23 08:09] TkDodo commented on #3943
@YZahringer @Fogh @Estevete can you please try out the latest beta version to see if it fixes your issue?

- https://github.com/TanStack/query/releases/tag/v4.3.0-beta.3

[2022-08-23 08:11] YZahringer commented on #3943
Everything works fine on my side with Expo SDK 46 on Web.
@TkDodo Thanks a lot 👍

[2022-08-23 08:13] #3943 closed

[2022-08-23 08:16] TkDodo commented on #3882
I also tried out our nextJs example and it works fine with the beta:

https://codesandbox.io/s/recursing-wind-vo3htt

[2022-08-23 08:23] TkDodo commented on #3882
okay one more tiny thing:
it seems that direct dependencies of the devtools are now included in the production bundle:

https://unpkg.com/@tanstack/react-query-devtools@4.3.0-beta.3/build/umd/index.production.js

I can see `useSyncExternalStore` and `match-sorter-utils` being bundled.

this is also visible in bundlephobia:
https://bundlephobia.com/package/@tanstack/react-query-devtools@4.3.0-beta.

[2022-08-23 08:24] ortonomy opened #4071 "[testing] mock function is not called when called inside asyn wrapper in useQuery or useQueries"
### Describe the bug

e.g.
[code]

in test `CompanyApi.getCompanyForMeetingSummary` is mocked but in test run I get:

[code]

and

` expect(CompanyApi.getCompanyForMeetingSummary).toBeCalledTimes(1);`

results

[code]

### Your minimal, reproducible example

I don't have one

### Steps to reproduce

[code]

see useQueries definition above

### Expected behavior

The mocked functions are executed

[2022-08-23 08:49] DamianOsipiuk commented on #3882
@TkDodo I would argue that devtools should actually bundle those.
From my perspective for UMD you should only include
`https://unpkg.com/@tanstack/react-query@4.3.0-beta.3/build/umd/index.production.js`
and
`https://unpkg.com/@tanstack/react-query-devtools@4.3.0-beta.3/build/umd/index.production.js`

Without the need of importing additional intermediate dependencies.
This is also the case for `rea

[2022-08-23 08:54] TkDodo commented on #3882
@DamianOsipiuk I generally agree with that, however, the production devtools should effectively be "empty". The Devtools and DevtoolsPanel is just a function that returns `null` - no dependency is needed.
Especially `match-sorter` is easily visible, and I've also done a production build of a testing repo, where I can see that `match-sorter` is also included, even though it is not used :)

Ha, okay

[2022-08-23 08:57] DamianOsipiuk commented on #3882
Oh, right. They need to be bundled in `dev` only. :+1:

[2022-08-23 10:01] WolfyUK opened #4073 "Unable to test ReactQuery using React 17"
### Describe the bug

Similar to https://github.com/TanStack/query/issues/4022, I am unable to test React Query 4 in React 17 as per the [documented instructions](https://tanstack.com/query/v4/docs/guides/testing). This was originally observed from an in-place upgrade from React Query 3, which worked fine. To reproduce, clone https://github.com/WolfyUK/react-17-react-query-4-testing and execute `n

[2022-08-23 12:02] TkDodo commented on #3882
any idea what to do about the production devtools lazy import?

[2022-08-23 12:31] DamianOsipiuk commented on #3882
Not yet, but i will look into it.

[2022-08-23 18:05] paul-sachs commented on #3492
So I'm seeing a double fetch in strict mode while using `useInfiniteQuery`, specifically when using the abort signal.

See https://codesandbox.io/s/crazy-khayyam-9jb1wy?file=/src/App.js

Perhaps this is now just expected behavior to see the cancellation in the network tab?

[2022-08-23 18:20] TkDodo commented on #3492
Yes it is, that's hood cancellation works. First request is aborted, second request goes through. Just as if the user were to navigate away from and then back to your page very fast. If you don't want that, don't use cancellation :) then, the second fetch will just pick up the already running one.

[2022-08-24 08:32] doliG commented on #4054
closed by #4065 . Thanks @nicholasgriffintn

[2022-08-24 08:32] #4054 closed

[2022-08-24 11:38] TkDodo commented on #3882
testing with `4.0.3-beta.4`:

- ✅ [umd builds](https://unpkg.com/@tanstack/react-query-devtools@4.3.0-beta.4/build/umd/index.production.js) are properly treeshaked (no devtools in production), dev-build contains all dependencies
- ✅ create-react-app v4 shows the devtools in dev mode
- ✅ create-react-app v4 removes devtools in prod build (this is the same as we had in RQ v3):
[code]
- ✅ create-reac

[2022-08-24 13:42] omershelef opened #4077 "ERROR when trying to install react query"
### Describe the bug

after installing react query and just adding the react query client provide I am having the following error:
[code]

### Your minimal, reproducible example

test

### Steps to reproduce

1. install react query using npm install

### Expected behavior

should compile fine

### How often does this bug happen?

_No response_

### Screenshots or Videos

_No response_

### Platfor

[2022-08-24 20:51] DamianOsipiuk commented on #3882
I can reintroduce that export, but it will only work with bundlers that fully supports exports, like vite.
react-scripts would have to import the ugly one
Unfortunately the issue with `@tanstack/react-query-devtools/production` is typescript bug that i have mentioned previously. So typescript will yell at you that it does not have type declarations, even though vite will compile successfully.

I'm

[2022-08-25 09:57] dgrcode opened #4080 "React is needed during testing"
### Describe the bug

I'm trying to reproduce an issue in a different library (for reference issue: https://github.com/blitz-js/superjson/issues/196, PR: https://github.com/blitz-js/superjson/pull/197). For that I'm using `QueryClient` and `dehydrate`, but I'm getting the following error:
[code]

This is the whole test:
[code]

### Your minimal, reproducible example

https://codesandbox.io/s/tanst

[2022-08-25 10:47] aboqasem commented on #4052
Shouldn't we replace every usage of the `hashQueryKey` with a `(this.defaultOptions.queries?.queryKeyHashFn ?? hashQueryKey)` in `QueryClient` and other classes that should respect the options? And then pass method level `queryKeyHashFn`?

[2022-08-25 14:02] TkDodo commented on #4077
then please create an open source repo and show the error there!

[2022-08-26 09:04] TkDodo commented on #4052
yeah we have a function for this already:

https://github.com/TanStack/query/blob/f9ebf9aaae59050331c22f143d835e46fac402cc/packages/query-core/src/utils.ts#L257-L263

I guess we just need to accept relevant options and then pass this everywhere?

[2022-08-26 09:12] TkDodo commented on #4080
`QueryClient` and `dehydrate` are both part of the `query-core`. So if you only depend on that, the test works:

https://codesandbox.io/s/tanstack-query-react-dependency-forked-x2e2v9?file=/src/index.test.js

[code]

basically: if you depend on `react-query`, you need react. If you don't need react, don't depend on react-query :)

[2022-08-26 09:12] #4080 closed

[2022-08-26 10:38] olan-go2 commented on #3584
This is messed up. If the enabled = false, isLoading should be in false as well

[2022-08-26 10:55] dgrcode commented on #4080
Nice! Good to know :)

This is a weird place to say this, but I'm not sure there's a good place. Thanks for being so helpful all over the place: issues (this one), discussions (https://github.com/TanStack/query/discussions/4024), PR (https://github.com/TanStack/query/pull/4010), and even a StackOverflow Question I asked about NextJS SSR (https://stackoverflow.com/a/73342248/5452969). And those are

[2022-08-26 12:17] SzabKel opened #4088 "useQuery fires refetch even If the query key did not change"
### Describe the bug

I am building a page, where I load different components on menu clicks (tabs). I noticed that If I change tabs, react query fires the network request each time I change tabs and come back. The component is not rendered when I am on a different tab, so when I change back and it gets mounted, a network request fires. Even If the query key is just a single string (and did not ch

[2022-08-26 18:44] aboqasem commented on #4052
I meant that I do not see where is `queryClient.defaultOptions.queries?.queryKeyHashFn` being used? Isn't the priority as follows: `methodOptions?.queryKeyHashFn (to be done) > query?.queryKeyHashFn > queryClient.defaultOptions.queries?.queryKeyHashFn > hashQueryKey`? I only see: `query?.queryKeyHashFn > hashQueryKey`

Example:
`queryClient#getQueryData` uses `queryCache#find`:
https://github.com/

[2022-08-26 19:08] TkDodo commented on #4052
@aboqasem the query options are stored on the query itself, when the query is created. There, the options are merged with the default options:

https://github.com/TanStack/query/blob/7e51776bff00b2f6f8496a7a64b3a048238a4ee7/packages/query-core/src/queryCache.ts#L95-L108

after that, accessing `query.options` will read the "defaulted" options. Yes, it means that changing default values after a quer

[2022-08-27 21:55] DamianOsipiuk commented on #3882
@TkDodo
additional import - https://github.com/TanStack/query/pull/4090
not sure what could be the problem but you core works for me both for react scripts 4 and 5

[2022-08-27 23:39] Noitidart commented on #293
Does anyone have reference to this doubnce util that supports promises?

[2022-08-28 05:27] soheilhassanjani opened #4091 "invalidateQueries doesn't work when my query have one item"
### Describe the bug

hi , i have some problem with invalidateQueries . i mutate and after successfully , invalidate queries . when my target query have more than one item , it is work ( query fresh ) but when my query have one item it not work and query status change to stale instead of fresh .

### Your minimal, reproducible example

.

### Steps to reproduce

.

### Expected behavior

.

### Ho

[2022-08-28 05:52] #4091 closed

[2022-08-28 06:00] TkDodo commented on #3882
@DamianOsipiuk that's an interesting find! we need the `isServer` check because `useLayoutEffect` doesn't work on the server. However, I think we could simply always `useEffect` here? Or maybe it also works if we change `isServer` to be a function, because then the result cannot be optimized away:

[code]

?

[2022-08-28 06:30] soheilhassanjani commented on #4091
why closed ?

[2022-08-28 06:36] TkDodo commented on #3882
@DamianOsipiuk I've switched to only using `useEffect` and removed the `isServer` check completely:

- https://github.com/TanStack/query/commit/3e3a04ed6d59390071e35e6c6368e98b084e17d8

I'll quickly re-test this with the latest beta. This was the last issue, right? If that works, we would be ready to merge?

[2022-08-28 07:00] TkDodo commented on #4091
you basically violated every rule of opening an issue. It looks like you have a question about your specific situation, not a general bug in react query. Every bug report needs a reproducible example. If you have one, feel free to re-open. Otherwise, open a discussion. But even for a discussion, there isn't much to go on without showing code...

[2022-08-28 07:26] TkDodo commented on #3882
@DamianOsipiuk toggling devtools now works in react-scripts v5. The typescript import issue is still there, but I think for now, I'll just add documentation that you can import with the long path.

- https://github.com/TanStack/query/commit/294337a5bcb232a4de15d27f2a40d1636e602d67

[2022-08-28 08:38] DamianOsipiuk commented on #3882
@TkDodo  Typescript issue will go away if you change the `moduleResolution` to `NodeNext`. We could potentially add that to docs.

And yes, i think that was the last issue.

[2022-08-28 08:40] TkDodo commented on #4088
This is what `staleTime` is for. It tells react-query to treat data in the cache as "fresh" for a specific amount of time, so that no background refetch happens.

Your problem comes from combining `staleTime` with `initialData`, as `initialData` is put into the cache and is treated as valid data - just as if you had fetched it. So by setting `initialData` to an empty array, this will be put into t

[2022-08-28 08:40] #4088 closed

[2022-08-28 08:47] TkDodo commented on #3882
I added this paragraph, is that about right?

https://github.com/TanStack/query/commit/5e145fcced65b0bbba3984da93e780357697e47f

[2022-08-28 09:02] DamianOsipiuk commented on #3882
Yup, although i think that TS 4.7 is required.

[2022-08-28 09:04] TkDodo commented on #3882
I got 4.5 from their docs:

- https://www.typescriptlang.org/tsconfig#moduleResolution

[2022-08-28 09:10] DamianOsipiuk commented on #3882
I was more thinking about this https://devblogs.microsoft.com/typescript/announcing-typescript-4-7/#package-json-exports-imports-and-self-referencing 😉

[2022-08-28 09:24] TkDodo commented on #3882
okay, I updated it: 40c34910

[2022-08-29 09:01] kimFrost commented on #3584
This caught me off guard as well.

This page gives a bit of info on the subject
[https://tanstack.com/query/v4/docs/guides/queries#fetchstatus](https://tanstack.com/query/v4/docs/guides/queries#fetchstatus)

[2022-08-29 09:53] pristas-peter opened #4097 "Devtools are re-rerendering constantly on every cache update even when closed"
### Describe the bug

We are encountering performance issues with the app when using devtools with many queries (around 1000). We are using normalised cache keys, when for example fetch of list items updates data in each single fetch query via setQueryData.

However in v4, by using `useSyncExternalStore` things got really slow (app freezes for a short time when doing updates).

Is it possible to u

[2022-08-29 11:07] TkDodo commented on #4097
Please provide a codesandbox reproduction!
By using useSyncExternalStore, we actually fixed a perf issue in the devtools:
- https://github.com/TanStack/query/issues/2742#issuecomment-993923506

[2022-08-29 17:03] MokDevelopment commented on #520
Ok it seems that this issue is still a problem. I just spend good 2h trying to fix my bindings until I found this bug report. Is there any workaround?

[2022-08-29 17:43] berli888 commented on #2991
It happens when you use setState inside a useEffect that depends on the result of useQueries.
Migrating to v3.39.0 doesn't seem to fix the problem.

[2022-08-29 18:16] TkDodo commented on #520
@MokDevelopment all "bug" reports in this issue turned out to be false positives, either something wrong implementation wise, or mixing things up with window focus refetches, or buggy intersection observers. At no time was there a real issue with react-query fetching the first page of an infinite query twice for no reason.

Please, if you have a minimal reproducible codesandbox example that shows

[2022-08-29 18:51] MokDevelopment commented on #520
I want my wasted time back.... arrrghh ;)
@TkDodo  Sorry...  - you are totally right

It seems, that the issue just exists on the dev layer. Even when producing a local build, there is just one request.

Sorry again.

[2022-08-29 19:02] pristas-peter commented on #4097
Hi, check it out here:
https://codesandbox.io/s/suspicious-jasper-xh7k88?file=/src/App.js

Try to scroll beyond 500 items or so, the app will become un-responsible.
If you comment out react query devtools component, all is smooth.

This was not happening in react-query 3.

Thanks for checking it out.

[2022-08-29 19:10] TkDodo commented on #4097
i can confirm that this is not how it should be :)

Given that it gets worse with the number of queries, my best guess is that all uSES subscriptions are being triggered to re-render even though they should not. We've switched to fine-grained subscriptions because they are supposed to be more performant. Before that, every update would re-render the whole devtools, which is why we had the workarou

[2022-08-30 07:14] pristas-peter commented on #4097
Yes, I will try to take a look at it next week

[2022-08-31 08:36] coolcorexix commented on #1936
I am having this error too, link to the error: [here](https://github.com/coolcorexix/saleshood-playground/tree/vite-react-query-err)

[2022-08-31 12:50] denys-utsekha opened #4106 "After migrate to v4 -> setQueryData not trigger re-render"
### Describe the bug

When I update the cache data using setQueryData, the components where this data is used are not re-rendered.
In v3 everything worked fine.

v4 - not work - https://codesandbox.io/s/xenodochial-saha-814hxw?file=/src/App.js
v3 - the same code works well - https://codesandbox.io/s/romantic-galileo-zi8t0k?file=/src/App.js

### Your minimal, reproducible example

https://codesandb

[2022-08-31 12:55] TkDodo commented on #4106
you directly mutating an item inside the queryCache. That might or might not have worked in the past, but updates should always be performed immutably.

here's a fixed sandbox: https://codesandbox.io/s/epic-swanson-h73k1b?file=/src/App.js

[code]

if you don't like immutable updates, try [immer](https://github.com/immerjs/immer)

[2022-08-31 12:55] #4106 closed

[2022-08-31 17:55] patsantos opened #4108 "React Query v3 Examples and links not working"
### Describe the bug

The examples section in v3 of the docs isn't loading and the links to GitHub 404. See this page for example: https://react-query-v3.tanstack.com/examples/basic

### Your minimal, reproducible example

https://react-query-v3.tanstack.com/examples/basic

### Steps to reproduce

Open page at https://react-query-v3.tanstack.com/examples/basic and notice the example doesn't load.

[2022-08-31 20:01] TkDodo commented on #4108
fix is already merged but needs to be deployed. Replace "main" with "v3" in the links in the meantime

[2022-09-01 01:17] diogo-simao opened #4109 "Test fails using onError callback"
### Describe the bug

Im using Jest and MSW to test a component that uses useQuery.

Here is my current test:

[code]

The problem is that my test is failing due a unhandled promise, rejected by MSW and not been handled by the onError:

[code]

If my queryFn is wrapped by a try/catch block, everything passes:
[code]
Is there anything that can be made?

### Your minimal, reproducible example

/

##

[2022-09-02 01:55] antoniel commented on #2304
Based on @TkDodo answers https://github.com/TanStack/query/issues/2304#issuecomment-1013139242, I've implemented my useCustomMutation that uses useQuery to share data between components.

My first use-case that requires that useMutation share data across components was a multi-step form in react-native (ps: in react-native, the stack navigation doesn't unmount the previous screen) where at the fir

[2022-09-02 04:18] Noitidart commented on #2304
TGhanks @antoniel for sharing, I think that `onSuccess` etc will only fire if the component remains mounted. I think you'll have to move the success/error into the `queryFn`.

[2022-09-02 05:56] sventschui commented on #4007
Thank you, I'll give it a try

[2022-09-03 18:11] TkDodo commented on #4077
reopen once you have a reproduction

[2022-09-03 18:12] #4077 closed

[2022-09-03 18:14] TkDodo commented on #3994
Closed as known limitation.

[2022-09-03 18:14] #3994 closed

[2022-09-03 20:40] TkDodo commented on #2157
closing as this is pretty stale and the provided test case doesn't behave as described anymore. Please reopen with a new reproduction if necessary.

[2022-09-03 20:40] #2157 closed

[2022-09-04 01:14] mrlubos commented on #293
@Noitidart you might want to look at [`<DebouncedInput />`](https://github.com/TanStack/table/blob/f79330e80e5efa3c3c8680a3afa4cba193dad015/examples/react/filters/src/main.tsx#L400-L427) or if you're after the original code, it's called [`useAsyncDebounce()`](https://github.com/TanStack/table/blob/d51aac11f3ddbbb3a82cbc3852e81aa7e609c51b/src/publicUtils.js#L160-L194)

[2022-09-04 04:08] Noitidart commented on #293
Thanks @mrlubos! I actually did something very interesting. I used `initialData` to store the debounced function (simple debounce with lodash) inside the data. I then make the `queryFn` call the method inside data. I then store the returned data in a nested key in data. Funky, but works very smoothly, it respects the react-query useQuery cache.

[2022-09-06 08:05] TkDodo commented on #4073
I change the test execution to `react-scripts` in this reproduction, it works:

[code]

I put some log statements into the `waitFor` callback and they are never logged when run directly via `jest`. I'm totally not sure what is going on here, but it doesn't seem react-query related ?

[2022-09-06 11:25] myxoh opened #4128 "[v4] new data on the first page will result in the last element disappearing from the list on revalidate*"
### Describe the bug

For starters - this is maybe a feature request / maybe a bug.
It was certainly unexpected behaviour when starting using the library, but it makes sense looking at the internals.

This bug will results on: When an API orders from most recent, to last. Using fixed page size pagination. After a revalidate. If a new resource is created. an Element will be lost from the list even

[2022-09-06 11:34] TkDodo commented on #4128
I think you didn't save the sandbox because there is no `Add newer content to store` button, but I think I get the problem.

I don't think that refetching should add new pages, and I also don't think that the cutoff is arbitrary. The problem is more around an api using fixed-sized pagination together with dynamic cursors. I am not sure how we would technically solve this problem in react-query. Wh

[2022-09-06 11:39] myxoh commented on #4128
Hey Tk - thanks - sorry I've updated the link.
The problem will also occur with numbered pagination provided the page size is fixed and the underlying data results are ordered newest => latest.
I can create another example with number pagination if it helps demonstrate that.

Adding some suggested fixes on the next comment:

[2022-09-06 11:49] myxoh commented on #4128
1. Allowing me to control the condition that decides when to stop fetching pages.
For instance converting this for loop into a while loop - with a dynamic condition that defaults to the existing default.

Current:
From: `https://github.com/TanStack/query/blob/main/packages/query-core/src/infiniteQueryBehavior.ts:130`

Proposed (idea) - rather than chaining promises in a for loop - you could have p

[2022-09-06 11:56] myxoh commented on #4128
2. Making the whole revalidate a user configurable option (granted - this is probably too much to require from consumer developers).

3. Default to always keeping the last value on re-validation: This will require users to provide a comparison function that would determine if the results are before or after the last element.
For example: `hasReachedElement(page, oldLastElement): boolean`  - if con

[2022-09-06 23:56] roccomaniscalco commented on #293
For anyone who is interested in debouncing a mutation, I hacked together this hook.  It returns a mutation with the `debouncedMutate` function which accepts `debounceMs` as an option. Apologies for no typescript.

[code]

Example use:

[code]

I'm using this hook in a chat app to check if a user inputted channel name already exists.

[2022-09-07 03:44] SevenOutman commented on #3352
@aryzing Looks like you wish `QueryClientConfig` type to be generic and to take type args because error type is predictable? If I'm understanding you correctly, [this discussion](https://github.com/TanStack/query/discussions/3528#discussioncomment-2592717) has talked about it already.

[2022-09-07 09:39] shiv-raj45 opened #4132 "Update base 64 image in page"
### Describe the bug

I'm working on a table view where images are place besides their name when I update the list the API request is made to update the row of table and when the PUT request is successful .I update table row with  previously passed form data
 to query cache.Other columns are updated accordingly but image is not updated.Is there any solution to this problem.On the other hand Is the

[2022-09-07 09:43] TkDodo commented on #4132
It is your duty to provide a minimal example that shows the issue so that we can rule out anything in your specific setup. If it's your production code, then write something new in codesandbox that shows the issue that is not production code 🤷

[2022-09-07 09:43] #4132 closed

[2022-09-07 15:04] houssemAmiri-bulldozer commented on #3584
How to deal with disabled false if we have a loading page that work if isloading is true and the loader is showing

[2022-09-08 01:50] iicdii opened #4134 "[Docs] Comparison page is broken"
### Describe the bug

The comparison section of the docs shows an error. https://tanstack.com/query/v4/docs/comparison

### Your minimal, reproducible example

https://tanstack.com/query/v4/docs/comparison

### Steps to reproduce

1. Go to https://tanstack.com/query/v4/docs/comparison

### Expected behavior

The comparison page should load.

### How often does this bug happen?

Every time

### Scr

[2022-09-08 09:31] tibbe opened #4135 "Docs inconsistent in how to handle app refocus in React Native"
### Describe the bug

How to deal with app refocus (i.e. App moving from background to active state) is documented twice:
- https://tanstack.com/query/v4/docs/react-native
- https://tanstack.com/query/v4/docs/guides/window-focus-refetching#managing-focus-in-react-native

The suggested code differs in the two docs, making me wonder which is the recommended approach. Could the code examples be unifi

[2022-09-08 09:56] estorski commented on #3046
I ended up implementing a wrapper hook which does what is expected. Posting here in case someone could also benefit from the code.

[code]

[2022-09-08 21:30] icebearlabs commented on #3069
I have the same issue on my system with Nextjs 12

[2022-09-08 23:26] missing1984 commented on #3975
Came across this one too. I agreed this is a mindset problem but mindset can be framed either way. most of our use case around `enabled` is to make a query run on a condition -- there's no guarantee that dependent query will always run.

Where the new behavior is more like -- dependent query will eventually run but it just don't have data yet and therefore is still consider as loading.

These are

[2022-09-09 02:21] maddhruv commented on #4134
Looks like some issues with mdx plugin not able to read through the comments in comparison.md
![image](https://user-images.githubusercontent.com/18121502/189258637-51b8f494-b8da-4041-b0e1-f6caf6e18231.png)

Raised a PR to fix this - https://github.com/TanStack/query/pull/4137

[2022-09-09 10:58] #4134 closed

[2022-09-09 12:11] iicdii commented on #4134
![image](https://user-images.githubusercontent.com/4951716/189347147-c3154c53-c584-4bca-b2dd-6e1e47860ad0.png)

It seems that markup is broken.

[2022-09-09 14:06] chchaeun commented on #2072
I'm having the same problem, have you solved it?

[2022-09-09 14:12] DhrjArun commented on #4097
Hey @TkDodo,  Can I work on this?

[2022-09-09 14:17] TkDodo commented on #4097
I am not working on it and I don't know if @pristas-peter is doing anything, so yeah, go ahead 🚀

[2022-09-09 14:21] chchaeun commented on #2072
Hi. I'm having the same problem. Have you solved it?

[2022-09-09 14:24] DhrjArun commented on #4097
cool

[2022-09-09 15:49] aryzing commented on #3352
The discussion proved useful, will close.

[2022-09-09 15:49] #3352 closed

[2022-09-09 18:54] pristas-peter commented on #4097
Sorry guys, I was little busy this week as well. @DhrjArun if you find out something, let us know 💯

[2022-09-10 03:04] numbers1311407 commented on #2810
I just puzzled over the source around `contextSharing` for a while trying to make sense of how it could possibly be useful, with the conclusion that it just isn't, or I was missing something simple.  This thread would suggest the former.

The *context* is shareable (so the name fits), but each app still needs to live under a context provider, which must insantiate and provide a new query client.

[2022-09-10 05:08] DhrjArun commented on #4097
sure @pristas-peter

[2022-09-10 10:06] #3882 closed

[2022-09-10 11:53] DhrjArun commented on #4097
Not rendering DevToolPanel if closed solves the issue temporary.

I tried adding React.memo to QueryRow and DevToolPanel Components, but it didn't fix the issue.

re-renders are coming from uSES subscriptions, and it’s being called even if theres no change in the queryCache

In this case, on each next fetch, app gets 100 new items, thats why after 4 - 5 fetch app becomes unresponsive. I think the

[2022-09-10 14:29] pristas-peter commented on #4097
🥇

[2022-09-10 15:16] DhrjArun commented on #4097
Hi @TkDodo what should I do?

[2022-09-11 10:11] gorbypark opened #4142 "[V4] Error in react-native: Unable to resolve module react-dom in 4.3.x (4.2.x unaffected)"
### Describe the bug

With a brand new react-native project, adding react-query produces a `Unable to resolve module react-dom` error.  The issue is that in the build version of setBatchedUpdatesFn.js (build/lib/setBatchedUpdatesFn.js) it is specifically importing reactBatchedUpdates.js with the .js extension (`var reactBatchedUpdates = require('./reactBatchedUpdates.js');`).  In order for Metro (

[2022-09-11 11:51] TkDodo commented on #4097
I think this is something we should do in any case. There is no point in keeping subscriptions when they are closed, and whatever future issues might pop up, users can always work around it by closing the devtools.

It would be good to find out which subscription has the problem, as we have multiple, fine-grained subscriptions:

https://github.com/TanStack/query/blob/ea80700c2c8d48c6d0cb4ae0165a42

[2022-09-11 12:19] rishabh2712 opened #4143 "Configurations using setQueryDefaults for a query is not working."
### Describe the bug

Setting cachetime and staletime for a query using setQueryDefaults is not working. Looking into the console, the cachetime still show default 300000ms.

### Your minimal, reproducible example

https://codesandbox.io/s/charming-haze-2y4bzz?file=/src/index.js

### Steps to reproduce

Have added the setQueryDefaults in the given example

### Expected behavior

Ideally setQueryDe

[2022-09-11 12:36] w8ight commented on #4142
Just installed 4.3.3 - same issue

[2022-09-11 13:29] gorbypark commented on #4142
You can add react-dom as a dependency to your own project as a temporary fix if needed, or use this patch package
[code]

[2022-09-11 17:48] #4142 closed

[2022-09-11 17:57] TkDodo commented on #4143
a query picks up its defaults when it is created. Changes to the defaults after that have no effect on already created queries, as changing default settings also does not re-render existing queries to inform them about that change.

If you move the call to `setQueryDefaults` to before the query is created, it works as expected. Calling `setQueryData` also creates a query.

[2022-09-11 17:57] #4143 closed

[2022-09-11 18:05] rishabh2712 commented on #4143
Had to use the setQueryDefaults as suggested by you in one of the discussions, to set the options for a query  like cacheTime or staleTime. As setQueryData doesn't accept such config.

[2022-09-12 08:38] TkDodo commented on #4097
I've merged the PR with the quick fix. However, I think it's still a problem when the devtools are opened that we should look into.

[2022-09-12 08:56] WolfyUK commented on #4073
Thanks, @TkDodo. You helped point me in the right direction for the fix. Ejecting the `create-react-app` and comparing the jest config with what I was expecting identified that it was the `jest` configuration in `package.json` that was being ignored. Setting the `testEnvironment` to `jsdom` in the `test-query` script seems to resolve this issue for me in the updated repro, without needing to eject

[2022-09-12 08:56] #4073 closed

[2022-09-12 08:59] TkDodo commented on #4073
glad I could help 🙌

[2022-09-12 12:09] DhrjArun commented on #4097
I think even if you remove all the uSES subscriptions except the first one. It will cause the same problem with 400-500 queryRows.

[2022-09-12 12:43] chaithrabhalli opened #4152 "Upgrading to latest version [4.3.4] even we have defined the version 4.2.3 in package.json"
### Describe the bug

When we define a particular version in package.json it's not installing same version , it's straight away installing latest build version please check this issue

### Your minimal, reproducible example

   ` "@tanstack/query-core": {       "version": "4.3.4",       "resolved": "https://registry.npmjs.org/@tanstack/query-core/-/query-core-4.3.4.tgz",       "integrity": "sha512

[2022-09-12 12:45] twentyonedot commented on #4152
Facing the same issue.

[2022-09-12 12:53] TkDodo commented on #4152
I just tried this and it installed v4.3.2 for me. We also use strict dependencies to cross-reference versions between our own packages.

We're just publishing packages according to semver to npm. How they are being picked up and installed is not in our control.

What does your package-lock.json file say?

[2022-09-12 13:07] chaithrabhalli commented on #4152
### ./node_modules/@tanstack/react-query/build/lib/reactBatchedUpdates.mjs
Can't import the named export 'unstable_batchedUpdates' from non EcmaScript module (only default export is available)

in package.json i have defined 4.2.3 , if i install node modules ` "@tanstack/query-core": {
      "version": "4.3.4",
      "resolved": "https://registry.npmjs.org/@tanstack/query-core/-/query-core-4.3.4.t

[2022-09-12 13:10] TkDodo commented on #4152
sorry now you're mixing different things here. I can't tell you much anyways without knowing which bundler in which version you are using. And yes, a reproduction is needed. Feel free to re-open if you can provide one.

[2022-09-12 13:10] #4152 closed

[2022-09-12 14:27] TkDodo commented on #4135
@arnaudbzn wrote that documentation I believe. If you know what the right way is, let's please streamline it.

[2022-09-12 15:19] tomskopek opened #4154 "@tanstack/react-query@4.3.4 react-native example does not work - queryFn not being called"
### Describe the bug

I'm trying to migrate from react-query v3. I couldn't get react-query v4.3.4 to work in my react-native app, so I eventually tried the [demo app](https://github.com/TanStack/query/tree/main/examples/react/react-native).

The react-native example provided in the repo also doesn't work.
Specifically, the queryFn doesn't seem to be getting called. You can verify this by noting t

[2022-09-12 15:24] TkDodo commented on #4154
yeah two different things here:
1. the example needs to be updated, but that's a minor thing.
1. queryFn not being called. I've seen that one before, it has to do with `useSyncExternalStore`. I think it was this issue:
- https://github.com/TanStack/query/issues/3582

[2022-09-12 15:24] TkDodo commented on #4154
@DamianOsipiuk FYI

[2022-09-12 15:26] TkDodo commented on #4154
upstream issue:
- https://github.com/facebook/react/pull/25231

[2022-09-12 17:36] tomskopek commented on #3975
Just want to double check, since thinking about this stuff sometimes makes my head hurt.

Is the closest replacement to the previous behaviour of `isLoading`: `isLoading  && fetchStatus !== 'idle'`?

ie:
[code]

[2022-09-12 18:02] TkDodo commented on #3975
Yes

[2022-09-12 19:13] parkm opened #4155 "Webpack build issue v4.3.4"
### Describe the bug

When running webpack `webpack --config webpack.config.js` I'm getting this error on v4.3.4:
[code]

This does not happen on v4.3.3, any ideas what happened here?

### Your minimal, reproducible example

n/a

### Steps to reproduce

Build app with webpack on v4.3.4

### Expected behavior

I should not get import errors when building with webpack

### How often does this bug ha

[2022-09-12 19:18] Gedoz commented on #4154
Me too, downgrade to v4.2.3 and works fine!

[2022-09-12 19:19] parkm commented on #4155
It looks like this commit might have introduced the problem https://github.com/TanStack/query/commit/c5d8582b25a8242bf9e6e632d9551e6b29b21713

[2022-09-12 19:24] TkDodo commented on #4155
yes, we're aware of this by now, but it's good we are tracking it as an issue now. According to [this stackoverflow answer](https://stackoverflow.com/questions/71054449/cant-import-the-named-export-directive-from-non-ecmascript-module-only-defau/71059718#71059718), the bundler picks up `.mjs` files but doesn't understand ESM.

If you are using raw webpack, this config seems to do the trick:

[code

[2022-09-12 20:16] tomskopek commented on #3975
Long term, obviously I need to refactor my code to match the new `isLoading` mindset. On the one hand I don't want to create new variables called `isLoading` that are basically aliases for `isLoading && fetchStatus !== 'idle'`, because that's confusing to have two meanings for `isLoading` and keep both in my mental model. On the other hand, I don't want to write out `isLoading && fetchStatus !== '

[2022-09-13 00:27] Blackglade commented on #4155
What version would you recommend downgrading to in the meantime while we wait for a fix?

[2022-09-13 04:30] Shaddix commented on #3975
Personally we are deferring an update to v4, hoping that some name for this state will emerge and we could just use it everywhere (just like we use `isLoading` now, and it works in 99% of the cases that we have).

[2022-09-13 08:53] TkDodo commented on #3975
So I think I have up my mind for what I want to do for the next major version. Believe me, I am terribly sorry that I didn't do this with v4 already. No one regrets this more than me. The plan is to:

1. rename `status: 'loading'` to `status: 'pending'`
2. rename `isLoading` to `isPending` (a simple derived state from the status, like isSuccess and isError)
3. re-introduce `isLoading` as derived v

[2022-09-13 09:44] nosovsh commented on #4155
Thanks @TkDodo

To summarize the quick fix:
if you cannot upgrade CRA to v5 do this:
`npm i @tanstack/react-query@4.3.3 --save`

and fix react-query version in your package.json (remove ^)

[2022-09-13 09:49] TkDodo commented on #4155
yes, you can fix your version to 4.3.3 (which has problems for react-native, but that's probably not what's troubling you :) )

[2022-09-13 12:16] Sigfried commented on #91
No longer a valid anchor on that page

[2022-09-13 14:13] TkDodo commented on #3975
`isInitializing` would be my currently favoured name for `isLoading && isFetching`. Thoughts?

[2022-09-13 14:15] tomskopek commented on #3975
@TkDodo This proposal makes a lot of sense to me 😃
One clarification:

What is the new field you are talking about deprecating?

I like it! I also like `isPending` 🙂

[2022-09-13 14:19] TkDodo commented on #3975
That wouldn't work as we'd want to use `pending` as per my proposal for the 3 main states (pending / success / error), because then `isPending` would mean something else and would likely create more confusion.

[2022-09-13 14:20] tomskopek commented on #3975
Ah yes, good point

[2022-09-13 14:29] tomskopek commented on #3975
As for release plan - any issues with just jumping straight to the desired v6 state that you proposed, directly with a v5 major version breaking change release (that would happen sooner than you probably expected)?

[2022-09-13 15:01] amuttsch opened #4161 "@tanstack/react-query-persist-client not working with yarn 3 and pnp"
### Describe the bug

We are using yarn 3 and want to add offline functionality to our application. However, it seems that the module resolution somehow fails when we added the package `@tanstack/react-query-persist-client`. After replacing the default `QueryClientProvider` with `PersistQueryClientProvider`, we get the error message `Error: No QueryClient set, use QueryClientProvider to set one`.

[2022-09-13 15:37] Shaddix commented on #3975
I suppose most developers discover API via intellisense/IDE suggestions, and for this scenario they would start typing with something like `loading`, so properties like `isInitialLoading`/`isLoadingAndFetching`/`isHardLoading` are discovered easier.

These names are a bit ugly, but if there are plans to deprecate and remove them, it might even be a good thing (no one will argue for keeping them an

[2022-09-14 02:44] manuelj555 commented on #3069
I have the same issue :-(

[2022-09-14 07:10] icebearlabs commented on #3069
For your information, I didn't get it to work. I've ripped out react-query where I needed it and replaced it with axios and an axios plugin called https://axios-cache-interceptor.js.org/#/.

This works the way I need it, so the same call isn't repeatedly called on the backend. Maybe look into that if you need an alternative.

[2022-09-14 07:22] icebearlabs commented on #3069
I wanted to reproduce the issue, but couldn't reproduce with a simple codesandbox.

https://codesandbox.io/s/next-js-forked-yyrr64

[2022-09-14 11:23] TkDodo commented on #3069
99% of the time, this means you have two versions of react-query floating around. This is also why things work in a sandbox, so it highly depends on your setup: monorepo, which bundler you are using etc ...

[2022-09-14 15:06] itayganor commented on #1905
It still seems like `useQuery` not `useQueries` return stable objects. [Example](https://codesandbox.io/s/unstable-query-objects-44e1jr?file=/src/App.js).

[2022-09-14 15:39] arlyon commented on #3595
I can corroborate the issue with next-transpile-modules.

[2022-09-14 17:33] j-braun0384 opened #4170 "Offline mutations are not being paused"
### Describe the bug

Hi there, first off - want to say thank you for providing this wonderful library. It's been wonderful in development.

In my react native app - I am attempting to use the offline mutation persistence features of v4 (https://tanstack.com/query/v4/docs/guides/mutations#persisting-offline-mutations) however - it seems like, when a device goes offline (whether before or during a

[2022-09-14 20:21] TkDodo commented on #4170
The offline example shows how to do this and it works. If it doesn't work for you, you'd have to provide your own reproduction that doesn't work
https://tanstack.com/query/v4/docs/examples/react/offline

[2022-09-15 10:38] hamsadeh opened #4175 "dehydratedState not working on linux"
### Describe the bug

I'm using react-query and next.js to have SSR (using dehydration). I return the dehydrated cache with the dehydratedState prop from the getServerSideProps method, and it works fine on my localhost (Windows). But when I run the same exact code on a Linux server, the dehydratedState prop is empty.

Here is my _app.js:
[code]

index.js:

[code]

### Your minimal, reproducible ex

[2022-09-15 11:04] TkDodo commented on #4175
I would check if `searchTitles` works, or if the query fails. try stubbing it out with a `Promise.resolve(someData)`. We've recently had something similar where server-to-server communication wasn't working due to some SSL issues. Certainly not a bug in react-query. Will move to discussion.

[2022-09-15 13:01] luan-hte commented on #3595
I had the same issue when using react-query with @tanstack/react-query-devtools. I removed react-query and installed @tanstack/react-query and the issue was gone. Basically use both packages from @tanstack.

[2022-09-15 13:04] szmarci commented on #3595
@system32uwu @SoftMemes @TkDodo I had the same issue. In this case for some reason pnpm installed two versions of react query (taken from the lockfile):
[code]
 The problem went away when I changed `peerDependencies` in all of my libraries that included react-query as a peer dependecies to include react as well, so changing from this:
[code]
To this:
[code]
And after a `pnpm install`, only one ver

[2022-09-15 15:26] OmarOmeiri commented on #3069
I have the same problem, I used the example from the docs. I'm testing in `next@12.3`

`app.ts`
[code]

It is an empty boilerplate project created with `npx create-next-app@latest --ts`.

[2022-09-15 15:30] TkDodo commented on #3069
@OmarOmeiri cool then create an open source reproduction that fails and link me to it please.

[2022-09-15 15:41] pavelbabenko commented on #4170
I have almost the same issue. I want to resend failed mutations with `resumePausedMutations()`, but I can't find a way to cache mutations with `isPaused: true` on error
Are there any examples of how to do that?

[2022-09-15 15:44] TkDodo commented on #4170
yes, this is the working example: https://tanstack.com/query/v4/docs/examples/react/offline

if you find something that is not working in this example, let me know.

[2022-09-15 16:00] OmarOmeiri commented on #3069
@TkDodo
Humm, err.
I was creating the repository for you but noticed the following issue.

I created a custom `useQuery` hook for increased type-safety for my use case and imported this hook before the query client was available.
silly me.

Sorry for the false positive.

[2022-09-16 02:21] Mari-yun commented on #4154
我在写小程序时也遇到了这样的问题，降级到3，正常

[2022-09-16 10:17] pavelbabenko commented on #4170
@TkDodo The example you sent is caching mutations with `isPaused: true` only when there is no internet connection. When mutation finishes with error (event network error), it is cached with `isPaused: false` and `resumePausedMutations()` doesn't resend them

[2022-09-16 13:16] gagamil commented on #4154
I have updated my expo based project to the latest expo v 46 (react 18) (from v 45) and queryFn is being called.

[2022-09-16 14:43] Willham12 commented on #4154
can confirm the issue!

[2022-09-17 00:10] atreya2011 commented on #3584
This totally caught me off guard too! I am leaving a link to this in my repo for my future self 😂

[2022-09-18 06:42] TkDodo commented on #4155
@parkm @nosovsh can you please check with the preview build from the PR?

[code]

thanks.

[2022-09-18 06:47] TkDodo commented on #1905
the top level object that's returned from `useQuery` is not referentially stable - the `.data` property is.

[2022-09-18 07:42] TkDodo commented on #4154
@Willham12 @gagamil @Gedoz @tomskopek can you please try with this version?

[code]

it's from the preview build of this PR:
- https://github.com/TanStack/query/pull/4183

not sure if it actually fixes things for this issue but it's worth a try 😅

[2022-09-18 07:55] Willham12 commented on #4154
Hi, it's not fixed with this version.

[2022-09-18 07:56] TkDodo commented on #4154
ok thx

[2022-09-18 09:38] #4155 closed

[2022-09-18 14:20] TkDodo commented on #4154
okay, now for another attempt. @Willham12 please try:

[code]

it's from this PR:
- #4185

[2022-09-18 16:59] itayganor commented on #1905
Is it something that is likely to change sometime?

As I described, this behavior makes keeping queries in context inefficient. It is usually desired to keep them in contexts so you could render its different states (loading and error), rather than just displaying the data.

[2022-09-18 17:52] TkDodo commented on #1905
I don't think there are good reasons to put the whole query result into context. Are you aware that you can just call useQuery wherever you want to get the data? Maybe state what problem you're trying to solve with putting it in context...

[2022-09-18 19:16] #4161 closed

[2022-09-18 19:30] TkDodo commented on #4002
please reopen with a reproduction.

[2022-09-18 19:30] #4002 closed

[2022-09-18 19:31] TkDodo commented on #4055
feel free to reopen with a reproduction.

[2022-09-18 19:31] #4055 closed

[2022-09-18 19:47] TkDodo commented on #3706
So what we could try is to have the function `setOptions` on the `QueryObserver` just call `this.currentQuery.setOptions(this.options)` so that whenever we set observer level options, the one on the query are updated as well. `setOptions` is currently private so we'd need to make it public. What do you think? @artem-malko ?

[2022-09-18 19:55] TkDodo commented on #3741
The default key hashing uses `JSON.stringify`, and keys where the value is undefined are filtered out by this. However, you have total control over that by using your own, custom `queryKeyHashFn`.
If you want to make `filter: undefined` be serialized to `filter: null`, you can do that globally.

I wouldn't really know how to change the current behaviour in a non-breaking way, do you?

[2022-09-18 19:58] itayganor commented on #1905
I'm aware, and it does solve the problem I'm describing. But just for convenience:

Consider a `userContext`, where you have information and actions for the logged-in user.

[code]

Let's say you have two places where you render a user's name - in the header and the comments section.
In both places, you want to display a skeleton loader until data arrives - only then you'll be able to display the

[2022-09-18 20:08] TkDodo commented on #4128
We already have something similar for imperative refetches like `queryClient.refetchQueries`. You can pass a `refetchPage` filter to decide if a certain page should be refetched or not:

[code]

We don't have this for automatically triggered refetches like window focus because it would be difficult to customize (it would need to go on useInfiniteQuery or something).

But again, the hard cutoff her

[2022-09-18 20:22] TkDodo commented on #1905
[code]

this is pretty much the same, just without actual "context" ?

[2022-09-18 20:32] itayganor commented on #1905
I agree it will work in this game, but once you add a state (what if `useUserPreferences` is a wrapper of `useState`)? you'll have multiple sources of truth :\

[2022-09-18 20:46] TkDodo commented on #1905
then you would probably put that state into context and then make a custom hook that reads from this context + from useQuery to combine the two. But there is no reason to put the query itself into context.

Basically, you have two things (A + B) and you want to derive something from that (C) and put that into context, whereas I would put just A in context and derive C on the fly (with a hook) from

[2022-09-19 06:17] Willham12 commented on #4154
LGTM

[2022-09-19 06:26] #4154 closed

[2022-09-19 06:27] TkDodo commented on #4154
if someone wants to update the react-native example and make it work again, please open a dedicated PR

[2022-09-19 11:39] artem-malko commented on #3706
@TkDodo do you mean something like that:

[code]

[2022-09-19 12:10] TkDodo commented on #3706
no what I mean was, when `setOptions` on the observer is called:

https://github.com/TanStack/query/blob/7e51776bff00b2f6f8496a7a64b3a048238a4ee7/packages/query-core/src/queryObserver.ts#L143

we could also do:

[code]

probably somewhere here:

https://github.com/TanStack/query/blob/7e51776bff00b2f6f8496a7a64b3a048238a4ee7/packages/query-core/src/queryObserver.ts#L178-L179

This would ensure that